<ul >

    <li ng-repeat="item in item.children">
        <a ui-sref="{{item.url}}" style="background-color:#2f4050;font-size: 18px;color:#e2dddc" >
            <i class="fa fa-th-large"></i>{{item.name}}
        </a>

        <div ng-switch on="item.children && item.children.length > 0" >
            <div ng-switch-when="true" >
                <div ng-init="children = item.children;" ng-include="'child.html'"></div>
            </div>
        </div>

    </li>
</ul>