<!DOCTYPE html>
<html lang="en" ng-app="ott2b">
<head>
    <title ng-bind-template="OTT2B | {{title}}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/ott2b/">

    <link rel="stylesheet" href="./assets/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="./assets/bootstrap-3.3.7-dist/css/bootstrap.css.map">
    <link rel="stylesheet" href="./assets/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/bootstrap-3.3.7-dist/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="./assets/bootstrap-3.3.7-dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="./assets/bootstrap-3.3.7-dist/css/bootstrap-theme.css.map">
    <link rel="stylesheet" href="./assets/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./assets/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css.map">
    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"> -->

    <link rel="stylesheet" href="./assets/css/style.css">

    <!--menu-->
    <link rel="stylesheet" href="./assets/css/font-awesome/css/font-awesome.css">


    <!--player-->
    <!--<link rel="stylesheet" href="./templates/content/video-js.css">
    <script src="./templates/content/video.js"></script>
    <script src="./templates/content/videojs-hlsjs-plugin.js"></script>
    <script src="./templates/content/vjs-quality-picker.js"></script>  -->    
    

    <!-- for ng-dblclick library -->
    <!-- <script src="./controllers/app/angular1.4.1/angular.js"></script> -->
    <!-- <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script> -->
    <script src="./controllers/app/1.6.5/angular.js"></script>
    <script src="./controllers/app/1.6.5/angular.min.js"></script>
    <script src="./controllers/app/1.0.3/angular-ui-router.js"></script>
    <script data-require="ui-bootstrap@*" data-semver="0.12.1"
        src="./controllers/app/ui-bootstrap-tpls-0.12.1.min.js"></script>


    <script src="./controllers/app/app.js"></script>
    <script src="./controllers/default_controller.js"></script>
    <script src="./controllers/company_controller.js"></script>
    <script src="./controllers/content_controller.js"></script>
    <script src="./controllers/index_controller.js"></script>
    <script src="./controllers/category_controller.js"></script>
    <script src="./controllers/uploadContent_controller.js"></script>
    <script src="./controllers/rss_controller.js"></script>
    <script src="./controllers/liverss_controller.js"></script>
    <script src="./controllers/account_controller.js"></script>
    <script src="./controllers/group_controller.js"></script>
    <script src="./controllers/role_controller.js"></script>
    <script src="./controllers/vender_controller.js"></script>
    <script src="./controllers/login_controller.js"></script>
    <script src="./controllers/func_controller.js"></script>
    <script src="./controllers/live_content_controller.js"></script>    
    <script src="./controllers/live_epg_controller.js"></script>
    <script src="./controllers/epg_upload_controller.js"></script>

    <!--ng-tag-->
    <link rel="stylesheet" href="./assets/css/ng-tags-input.min.css" />
    <script src="./controllers/ng-tags-input.min.js"></script>

    <!--file upload-->
    <script src='./controllers/app/angular-file-uploader.js?v=5'></script>

    <script src="./controllers/app/3.2.1/jquery.min.js"></script>

    <!--encrypt-->
    <script src="./controllers/app/crypto/aes.js"></script>
    <script src="./controllers/app/crypto/angular-crypto.js"></script>

    <!--圖形驗証-->
    <script src="./controllers/app/login/checkCode.js"></script>
 

    <style>
        .form-control {
            font-size: 16px;
        }
        
        th {
            cursor: pointer;
        }

        tr.active>td {
            background: skyblue !important;
            color: #fff;
        }

        .selected {
            background-color: skyblue;
            color: white;
            font-weight: bold;
        }

        .btn-primary {
            background-color: #3276b1
        }

        input:invalid {
            border: 1px solid red;
        }
        .code {
                font-size: xx-large;
				font-family: Arial;
				font-style: italic;
				font-weight: bold;
				border: 0;
				letter-spacing: 3px;
				color: blue;
			}
    </style>
    <script>  
          
        //系統閒置30分鐘後自動登出 
        var delay = 1000, setTimeoutConst;        
        var lastTime = new Date().getTime();
        var currentTime = new Date().getTime();
        var timeOut = 60 * 60 * 1000; //設定超時時間: 1分= 1 * 60 * 1000
        $(document).ready(function() {       
            var first = 0;    
            console.log('currentTime=' + new Date().toLocaleString());
            /* 滑鼠移動事件 */
            $(document).mousemove(function(){
                if (first == 0) {
                    createCode();  
                    first = 1;
                }
                console.log('lastTime' + new Date().toLocaleString());
                lastTime = new Date().getTime(); //更新操作時間
            });
        });    
        function isLogout() {
            var scope = angular.element(document.getElementById("index_contrloer")).scope();
            var account ;
            scope.$apply(function () {
                account = scope.getAccount();
            }); 
            currentTime = new Date().getTime(); //更新當前時間
            var tmpLastTime = new Date(lastTime);
             console.log('account='+ account +",account is null="+ (account==null)+',currentTime=' + new Date().toLocaleString() +',lastTime='+tmpLastTime.toLocaleString()
                +",timeout=" + (timeOut/1000));
            if (account!=null) {
                if(currentTime - lastTime > timeOut){ //判斷是否超時
                    console.log("超時");                
                    scope.$apply(function () {
                        scope.logoutShowMessage();
                    });                
                } else {
                    console.log("未超時");
                }
            }
            
        }
        /* 定時器 間隔1秒檢測是否長時間未操作頁面 */
        window.setInterval(isLogout, 60000);//一分鐘


        function mouseOver(currentDell) {
            // alert(currentDell);
            
            setTimeoutConst = setTimeout(function () {

            }, delay);
            console.log('hover in');
            $('#img_modal').modal('show');
            //document.getElementById('thumbnail').src = "/i/eg_mouse.jpg"
        }
        function mouseOut(currentDell) {
            clearTimeout(setTimeoutConst);
            setTimeoutConst2 = setTimeout(function () {
                var isHover = $('#hello').is(":hover");
                if (isHover !== true) {
                    document.getElementById('img-close-modal').click();
                }
            }, delay);
            console.log('hover out');

            //document.getElementById('b1').src = "/i/eg_mouse2.jpg"
        }</script>
</head>

<body ng-controller="index_contrloer" id="index_contrloer" onload=createCode()>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="">
                            <span>
                                <img alt="image" src="./assets/boy.svg" style="height: 50px" />
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold" ng-cloak>登入者：{{account}}</strong>
                                    </span>
                                    <!-- <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>  -->
                                </span>
                            </a>
                            <!--TODO 個人化部份-->
                            <!-- <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="profile.html">Profile</a></li>
                                <li><a href="contacts.html">Contacts</a></li>
                                <li><a href="mailbox.html">Mailbox</a></li>
                                <li class="divider"></li>
                                <li><a href="login.html">Logout</a></li>
                            </ul> -->
                        </div>
                        <div class="logo-element">
                            {{account}}
                        </div>
                    </li>

                    <!--依功能權限展開功能節點-->                   
                    <li ng-repeat="item in functionList" ng-cloak>
                        <a ui-sref="{{item.url}}"  style="background-color:#2f4050;font-size: 18px;color:#e2dddc"  >
                            <i class="fa fa-th-large"></i>{{item.name}}
                        </a>
                        <ul ng-if="item.children && item.children.length > 0">                            
                            <li ng-repeat="item in item.children | orderBy:'seq'" >
                                 <a ui-sref="{{item.url}}" style="background-color:#2f4050;font-size: 18px;color:#e2dddc"   >
                                    <i class="fa fa-cog fa-fw"></i>{{item.name}}
                                </a>                                
                                 <div ng-switch on="item.children && item.children.length > 0">
                                    <div ng-switch-when="true">
                                      <div ng-init="children = item.children;" ng-include="'child.html'" > </div>  
                                    </div>
                                  </div>                                    
                            </li>
                        </ul>
                    </li>  
                    <li ng-show="info.super_user=='1'  || info.admin == '1'">
                         <a onclick="window.open('dist/index.html')"  style="background-color:#2f4050;font-size: 18px;color:#e2dddc" >
                            <i class="fa fa-th-large"></i>API文件說明
                         </a>                    
                    </li>
                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg">
            <!--HEADER-->
            <div class="row border-bottom">
                <!-- <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0"> -->
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i>
                    </a>
                    <form role="search" class="navbar-form-custom">
                        <div class="form-group" ng-show={{info.super_user==1}}>
                            <!-- <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search"> -->
                            <select name="company_id" id="company_id" class="form-control"
                                data-ng-model="index.company_id" ng-change="set_company(index.company_id)"
                                data-ng-options="d.id as d.company_name for d in index.company_list">
                            </select>
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message" ng-cloak>
                            {{company}} 公司 :
                            {{account}} {{admin}} 您好 </span>
                    </li>

                    <li class="dropdown">

                        <ul class="dropdown-menu dropdown-alerts">
                            <li class="divider"></li>
                            <li>
                                <a href="grid_options.html">
                                    <div>
                                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a ng-click="logout()">
                            <i class="fa fa-sign-out"></i>{{loginAction}}
                        </a>
                    </li>
                </ul>

                <!-- </nav> -->
            </div>


            <!--CONTENT-->
            <div class="row wrapper border-bottom white-bg page-heading" style="height: 80px; ">
                <!--margin-right: 0px; margin-left: 0px;-->

            </div>

            
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <div ui-view> .....</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--FOOTER-->
            <div class="footer">
                <!-- <div class="pull-right">
                            10GB of <strong>250GB</strong> Free.
                        </div> -->
                <div>
                    <strong>Copyright</strong> OTT2B &copy; 2019.10.28
                </div>
            </div>

        </div>
    </div>


    <!--menu-->
    <script src="./controllers/app/jquery-3.1.1.min.js"></script>
    <script src="./controllers/app/bootstrap.min.js"></script>
    <script src="./controllers/app/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="./controllers/app/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="./controllers/app/inspinia.js"></script>
    <script src="./controllers/app/bootbox.min.js"></script>

    <!--datepicker-->
    <script src="./controllers/app/datetime-picker.js"></script>
</body>

</html>