<!--頁面標題及按鈕-->
<div class="panel panel-info" style="border-color:#23c6c800">
    <div class="panel-heading"
    style="height: 60px;width: auto;margin-top: -105px;margin-left: -30px;margin-right: -30px">
        <span>
            <font size="5">VOD RSS發佈作業</font>
        </span>
        <div class="btn-toolbar pull-right">
            <button type="button" class="btn btn-success btn-lg" data-toggle="modal"
            ng-click="rss_ctrl.create_content_info()">
                <i class="glyphicon glyphicon-plus"></i>新增VOD CONFIG</button> 
        </div>
    </div>
</div>
 

<p class="{{rss_ctrl.alert_class}}">{{rss_ctrl.msg}}</p>
<table class="table">
    <thead>
        <tr>
            <th>TOKEN</th>
            <th>公司名稱</th>
            <th>VOD下架檢查時數</th>            
            <th>限制輸出總筆數</th>
            <th>HTTP/HTTPS</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="contents in rss_ctrl.content_list">
            <td>{{contents.token}}</td>
            <td>{{contents.company_name}}</td>
            <td>{{contents.recall_hour}}</td>            
            <td>{{contents.limit_rows}}</td>
            <td>{{contents.is_http}}</td>
            <td class="text-right">
                <button type="button" data-toggle="modal" class="btn btn-success btn-lg"
                    ng-click="rss_ctrl.edit_content_info(contents.id)">編輯</button>
                <button type="button" data-toggle="modal" class="btn btn-success btn-lg"
                    ng-click="rss_ctrl.openLaunch(contents.token)">RSS發佈</button>
                <button type="button" data-toggle="modal" class="btn btn-success btn-lg"
                    ng-click="rss_ctrl.openRecall(contents)">RSS緊急下架</button>              
            </td>            
        </tr>
    </tbody>
</table>


<!--瀏覽-->
<div class="modal fade" id="view_content_info_modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="width: 900px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">RSS 發佈資訊</h4>
            </div>
            <div class="modal-body justify-content-center" style="height: 600px;">

                <pre> {{rss_ctrl.view_rss_info | json}}</pre>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            </div>
        </div>

    </div>
</div>

<!--編輯-->
<div class="modal fade" id="edit_info_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="width: 600px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">編輯RSS資料 || {{rss_ctrl.rss_info.token}} </h4>
            </div>
            <div class="modal-body">
                <form method="post" id="edit_info_frm" name="edit_info_frm">
                    <input ng-model="rss_ctrl.rss_info.id" type="hidden" />
                    <div class="form-group">
                        <label>TOKEN:</label>
                        <input type="text" ng-disabled="true" ng-model="rss_ctrl.rss_info.token" class="form-control" required
                            maxlength="50">
                    </div>
                    <div class="form-group" ng-show="false">
                        <label>公司名稱:</label>
                        <select name="company_id" id="company_id" class="form-control"
                            data-ng-model="rss_info.company_id"
                            data-ng-options="d.id as d.company_name for d in company_data"></select>
                    </div>
                    <div class="form-group">
                        <label>LIVE下架檢查天數:</label>
                        <input type="text" ng-model="rss_ctrl.rss_info.recall_day" class="form-control" required
                            maxlength="50">
                    </div>
                    <div class="form-group">
                        <label>VOD下架檢查時數:</label>
                        <input type="text" ng-model="rss_ctrl.rss_info.recall_hour" class="form-control" required
                            maxlength="50">
                    </div>
                    <div class="form-group">
                        <label>限制輸出總筆數:</label>
                        <input type="text" ng-model="rss_ctrl.rss_info.limit_rows" class="form-control" required
                            maxlength="50">
                    </div>
                    <div class="form-group">
                        <label>HTTP/HTTPS:</label>
                        <select name="is_http" id="is_http" class="form-control" data-ng-model="rss_ctrl.rss_info.is_http">
                        <option value="HTTP">HTTP</option>
                        <option value="HTTPS">HTTPS</option>
                    </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="button button-green  pull-right"
                    data-ng-click="rss_ctrl.update()">更新</button>
                <button type="button" class="btn btn-default" id="close-modal" data-dismiss="modal">關閉</button>
            </div>
        </div>

    </div>
</div>


<!--新增-->
<div class="modal fade" id="create_info_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 600px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">新增RSS資料 || {{rss_ctrl.rss_info.token}} </h4>
            </div>
            <div class="modal-body">
                <form method="post" id="edit_info_frm" name="edit_info_frm">
                    <input ng-model="data.id" type="hidden" />
                    <div class="form-group">
                        <label>TOKEN:</label>
                        <input type="text" ng-model="data.token" class="form-control" required maxlength="50">                        
                    </div>
                    <div class="form-group" ng-show="false">
                        <label>公司名稱:</label>
                        <select name="company_id" id="company_id" class="form-control" 
                            data-ng-model="data.company_id"
                            data-ng-options="d.id as d.company_name for d in company_data"></select>
                    </div>
                    <div class="form-group">
                        <label>LIVE下架檢查天數:</label>
                        <input type="text" ng-model="data.recall_day" class="form-control"  maxlength="50">
                    </div>
                    <div class="form-group">
                        <label>VOD下架檢查時數:</label>
                        <input type="text" ng-model="data.recall_hour" class="form-control" reqired maxlength="50">
                    </div>
                    <div class="form-group">
                        <label>限制輸出總筆數:</label>
                        <input type="text" ng-model="data.limit_rows" class="form-control"  maxlength="50">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="button button-green  pull-right"
                    data-ng-click="rss_ctrl.add(data)">確定</button>
                <button type="button" class="btn btn-default" id="close-modal1" data-dismiss="modal">關閉</button>
            </div>
        </div>

    </div>
</div>