<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

<div>

    <div id="head"></div>

    <!--頁面標題及按鈕-->
    <div class="panel panel-info" style="border-color:#23c6c800">
        <div class="panel-heading"
            style="height: 60px;width: auto;margin-top: -105px;margin-left: -30px;margin-right: -30px">
            <span>
                <font size="5">VOD內容維護作業</font>
            </span>
            <div class="btn-toolbar pull-right">
                <button type="button" class="btn btn-success btn-lg" data-ng-click="content_ctrl.initAddTag()">
                    <i class="glyphicon glyphicon-plus"></i> 新增內容
                </button>
                <button type="button" class="btn btn-success btn-lg" data-ng-click="content_ctrl.batchApprove()"
                    ng-disabled="disableApprove">
                    <i class="glyphicon glyphicon-ok"></i> 批次審查
                </button>
            </div>
        </div>
    </div>


    <div class="alert {{alert_style}}" ng-show="msg_area">
        <span class="glyphicon glyphicon-ok"></span> <strong>{{msg}}</strong>
    </div>
    <!--查詢條件-->
    <div class="form-group row ">
        <div for="vender_id" class="col-lg-1">
            <div id="url"></div>
            <h3>內容商：</h3>
        </div>
        <div class="col-lg-2">
            <div class="input-group">
                <select name="query_vender_id" id="query_vender_id" class="form-control" data-ng-model="query_vender_id"
                    data-ng-options="d.id as d.name for d in venderData"></select>
            </div>
        </div>
        <div for="category" class="col-lg-1">
            <h3>主分類：</h3>
        </div>
        <div class="col-lg-2 mt-10">
            <div class="input-group col-md-10">
                <select name="query_category_id" id="query_category_id" class="form-control"
                    data-ng-model="query_category_id" data-ng-options="d.id as d.name for d in catalogData"
                    data-ng-change="queryChangeByCategory(query_category_id)"></select>
            </div>
        </div>
        <div for="subcategory" class="col-lg-1">
            <h3>次分類：</h3>
        </div>
        <div class="col-lg-2 mt-10">
            <div class="input-group col-md-10">
                <select name="query_subcategory_id" id="query_subcategory_id" class="form-control"
                    data-ng-model="query_subcategory_id"
                    data-ng-options="sub.id as sub.name for sub in querySubCatalogData"
                    data-ng-change="queryChangeBySubcategory(query_subcategory_id)">                    
                </select>
            </div>
        </div>
        <div for="status" class="col-lg-1">
            <h3>狀態：</h3>
        </div>
        <div class="col-lg-2 mt-10">
            <select name="status" id="status" class="form-control" data-ng-model="status"
                data-ng-options="st.code as st.name for st in statusData">
                <!-- <option value="" selected="selected">-- ALL --</option> -->
            </select>
        </div>
    </div>
    <div class="form-group row ">
        <div for="title" class="col-lg-1">
            <h3>標題：</h3>
        </div>
        <div class="col-lg-4">
            <div class="input-group col-md-10">
                <input type="text" id="searchTitle" value="" ng-model="searchTitle" class="form-control"
                    placeholder="Search" />
            </div>
        </div>
        <div for="title" class="col-lg-1">
            <button type="button" class="btn btn-success btn-lg" data-ng-click="content_ctrl.search_data(searchTitle)">
                <i class="glyphicon glyphicon-search"></i> 查詢
            </button>
        </div>
        <div class="col-lg-6">

        </div>
    </div>
    <Hr>
    <!--查詢結果-->
    <!-- <h3 class="hello" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">ddd</h3> -->
    <table class="table" style="table-layout:fixed;word-wrap:break-word;">
        <thead>
            <tr bgcolor="#f1eded">
                <th width=60><input type="checkbox" ng-model="selectAll" ng-change="changeAll()" />選取</th>
                <th width=80 ng-click="sortBy('id')">ID<span class="sortorder" ng-show="propertyName === 'id'" ng-class="{reverse: reverse}"></span></th>
                <th height=60 width=100 ng-click="sortBy('thumbnail')" >劇照<span class="sortorder" ng-show="propertyName === 'thumbnail'" ng-class="{reverse: reverse}"></span></th>
                <th width=100 ng-click="sortBy('vender_name')" width=100>內容商<span class="sortorder" ng-show="propertyName === 'vender_name'" ng-class="{reverse: reverse}"></span></th>
                <th width=200 ng-click="sortBy('title')" >標題<span class="sortorder" ng-show="propertyName === 'title'" ng-class="{reverse: reverse}"></span></th>
                <th width=120 ng-click="sortBy('status_name')" >狀態<span class="sortorder" ng-show="propertyName === 'status_name'" ng-class="{reverse: reverse}"></span></th>
                <th width=120 ng-click="sortBy('job_note')" >錯誤訊息<span class="sortorder" ng-show="propertyName === 'job_note'" ng-class="{reverse: reverse}"></span></th>
                <th width=100 ng-click="sortBy('main_category_name')">主分類<span class="sortorder" ng-show="propertyName === 'main_category_name'" ng-class="{reverse: reverse}"></span></th>
                <th width=100 ng-click="sortBy('sub_category_name')">次分類<span class="sortorder" ng-show="propertyName === 'sub_category_name'" ng-class="{reverse: reverse}"></span></th>
                <th width=100 ng-click="sortBy('description')">描述<span class="sortorder" ng-show="propertyName === 'description'" ng-class="{reverse: reverse}"></span></th>
                <!-- <th ng-click="sortBy('')">標籤</th> -->
                <!-- <th>片長</th> -->
                <th  width=140 ng-click="sortBy('start_time')">開始時間<span class="sortorder" ng-show="propertyName === 'start_time'" ng-class="{reverse: reverse}"></span></th>
                <th  width=140 ng-click="sortBy('end_time')">結束時間<span class="sortorder" ng-show="propertyName === 'end_time'" ng-class="{reverse: reverse}"></span></th>
                <!-- <th width=70 ng-click="sortBy('run_time')">片長<span class="sortorder" ng-show="propertyName === 'run_time'" ng-class="{reverse: reverse}"></span></th> -->
                <!-- <th ng-click="sortBy('publish_year')">發行年份<span class="sortorder" ng-show="propertyName === 'publish_year'" ng-class="{reverse: reverse}"></span></th> -->
                <!-- <th ng-click="sortBy('')">檔案</th> -->
                <!-- <th ng-click="col='name';desc=!desc">影音網址</th>
            <th ng-click="col='name';desc=!desc">備註</th> -->
                <!-- <th class="text-right">動作</th> -->
            </tr>
        </thead>

        <tbody><!--| orderBy:col:desc-->
            <tr ng-repeat="contents in content_ctrl.content_list | orderBy:propertyName:reverse"
                ng-click="content_ctrl.selectContent(contents, $event)"
                ng-dblclick="content_ctrl.edit_content_info(contents.id)"
                ng-class="{'selected':contents.id == selectedRow}">
                <td><input type="checkbox" ng-model="contents.checked"
                        ng-click="content_ctrl.changeCurrent(contents, $event)" /></td>
                <td>{{contents.id}}</td>
                <td>
                    <img class="hello" id="hello" ng-click="changeImg(contents.thumbnail)" alt="" title="點擊圖片即可顯示劇照" height=60
                        src="{{contents.thumbnail}}">
                </td>
                <td>{{contents.vender_name}}</td>
                <td title={{contents.title}} >{{contents.title}}
                </td>
                <td>{{contents.status_name}}</td>
                <td title={{contents.job_note}}>
                    {{contents.job_note}}</td>
                <td>{{contents.main_category_name}}</td>
                <td>{{contents.sub_category_name}}</td>
                <td title={{contents.description}}>
                    {{contents.description | limitTo: 10}}{{contents.description.length > 10 ? '...' : ''}}</td>
                <td>{{contents.start_time}}</td>
                <td>{{contents.end_time}}</td>
                <!-- <td>{{contents.run_time}}</td> -->
                <!-- <td>{{contents.publish_year}}</td> -->
                <!-- <td>{{contents.file_path}}</td> -->
                <!-- <td class="text-right">
                    <button type="button" data-toggle="modal" class="btn btn-success btn-lg"
                        ng-click="content_ctrl.edit_content_info(contents.id)">編輯</button>
                </td> -->
            </tr>
        </tbody>
    </table>




    <!--圖片視窗-->
    <div class="modal fade" id="img_modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 700px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">劇照資訊</h4>
                </div>
                <div class="modal-body" style="height: 400px;">
                    <img style="height: 360px; width: 640px;" ng-src="{{imgsrc}}" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="img-close-modal" data-dismiss="modal">關閉</button>
                </div>
            </div>


        </div>
    </div>




    <!--新增-->
    <!-- Modal -->   
    <div class="modal fade" id="create_content_info_modal" tabindex="-1" role="dialog">
        <loading></loading>
        <div class="modal-dialog modal-dialog-scrollable" role="document" style="width:1200px;">            
                <div class="modal-content" >
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title ">新增VOD資訊</h2>
                    </div>
                    <div class="modal-body">
                        <form method="post" id="create_content_info_frm" name="create_content_info_frm">                            
                            <div class="form-group col-sm-12">
                                <label for="label lb-lg">標題:</label>
                                <input type="text" class="form-control" ng-model="content.title" id="title" name="title"
                                    ng-required="true" ng-change="insertChangeByTitle(content.title)">
                                <div ng-show="create_content_info_frm.title.invalid">
                                    <div style="color:red">請填寫這個欄位</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="vender_id">內容商:</label>
                                <select name="vender_id" id="vender_id" class="form-control"
                                    data-ng-model="content.vender_id" data-ng-options="d.id as d.name for d in venderData"
                                    data-ng-change="insertChangeByVenderId(content.vender_id)">
                                </select>
                                <div ng-show="create_content_info_frm.vender_id.invalid">
                                    <div style="color:red">請填寫這個欄位</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="gender">主分類:</label>
                                <select name="insert_category_id" id="insert_category_id" class="form-control"
                                    data-ng-model="content.insert_category_id"
                                    data-ng-options="d.id as d.name for d in insertCatalogData"
                                    data-ng-change="insertChangeByCategory(content.insert_category_id)">
                                </select>
                                <div ng-show="create_content_info_frm.insert_category_id.invalid">
                                    <div style="color:red">請填寫這個欄位</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="gender">次分類:</label>
                                <select name="insert_subcategory_id" id="insert_subcategory_id" class="form-control"
                                    data-ng-model="content.insert_subcategory_id"
                                    data-ng-options="sub.id as sub.name for sub in insertSubCatalogData"
                                    data-ng-change="insertChangeBySubcategory(content.insert_subcategory_id)">
                                </select>
                                <div ng-show="create_content_info_frm.insert_subcategory_id.invalid">
                                    <div style="color:red">請填寫這個欄位</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="contact">發行年份:</label>
                                <p class="input-group">
                                <div class="">
                                    <input type="text" class="form-control" ng-model="content.publish_year" id="publish_year"
                                        maxlength="4">
                                </div>
                                </p>
                            </div>
                            <div class="form-group col-sm-5">
                                <label for="contact">開始時間:</label>
                                <p class="input-group">                                
                                    <input type="hidden" ng-model="content.start_time" />                                  
                                    <div class="form-inline">
                                        <input type="text"  style="width:120px" class="form-control"  datetime-picker="yyyy-MM-dd" 
                                            id="insert_start_time" name="insert_start_time" ng-model="start_time"
                                            is-open="content_ctrl.date.showFlag1" 
                                            ng-keyup="insertChangeByStime(start_time)"
                                            data-ng-change="insertChangeByStime(start_time)"/>
                                            <button type="button" class="btn btn-default"
                                                ng-click="content_ctrl.date.showFlag1 = true"><i
                                                    class="fa fa-calendar"></i></button>                                                                                        
                                            <select  name="addStartHour" id="addStartHour" class="form-control"
                                                    data-ng-model="content.addStartHour"
                                                    data-ng-options="sub  for sub in hourData">
                                            </select>
                                            <span>：</span>
                                            <select   name="addStartMinute" id="addStartMinute" class="form-control"
                                                    data-ng-model="content.addStartMinute"
                                                    data-ng-options="sub  for sub in minuteData"                                       >
                                            </select>  
                                            <span>：</span>
                                            <select   name="addStartSecond" id="v" class="form-control"
                                                    data-ng-model="content.addStartSecond"
                                                    data-ng-options="sub  for sub in minuteData"                                       >
                                            </select>  
                                        </div>
                                </p>
                                <div ng-show="create_content_info_frm.insert_start_time.invalid">
                                    <div style="color:red">輸入格式錯誤</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-5">
                                <label for="contact">結束時間:</label>
                                <p class="input-group">
                                    <input type="hidden" ng-model="content.end_time" />
                                    <div class="form-inline">
                                        <input type="text" style="width:120px" class="form-control" datetime-picker="yyyy-MM-dd" 
                                            id="insert_end_time" name="insert_end_time" ng-model="end_time"
                                            is-open="content_ctrl.date.showFlag2"
                                            ng-keyup="insertChangeByEtime(end_time)"
                                            data-ng-change="insertChangeByEtime(end_time)">
                                        <button type="button" class="btn btn-default"
                                                ng-click="content_ctrl.date.showFlag2 = true"><i
                                                    class="fa fa-calendar"></i></button>
                                        <select  name="addSEndHour" id="addEndHour" class="form-control"
                                                    data-ng-model="content.addEndHour"
                                                    data-ng-options="sub  for sub in hourData">
                                        </select>
                                        <span>：</span>
                                        <select   name="addEndMinute" id="addEndMinute" class="form-control"
                                                    data-ng-model="content.addEndMinute"
                                                    data-ng-options="sub  for sub in minuteData"                                       >
                                        </select>   
                                        <span>：</span>
                                        <select   name="addEndSecond" id="addEndSecond" class="form-control"
                                                    data-ng-model="content.addEndSecond"
                                                    data-ng-options="sub  for sub in minuteData"                                       >
                                        </select>  
                                    </div>
                                </p>
                                <div ng-show="create_content_info_frm.insert_end_time.invalid">
                                    <div style="color:red">輸入格式錯誤</div>
                                </div>
                            </div>
                            <hr   class="form-group col-sm-12"/>
                            <div class="form-group col-sm-2">
                                <label for="contact">片長:</label>
                                <input type="text" class="form-control" ng-model="content.run_time" id="run_time"
                                    name="run_time">
                            </div>

                            <div class="form-group col-sm-10">
                                <label for="contact">標籤:</label>
                                <tags-input ng-model="content.tags" add-on-enter="true" min-length="0">
                                    <auto-complete source="tagData"></auto-complete>
                                </tags-input>
                            </div>
                            <div class="form-group col-sm-12" >
                                    <label for="contact">檔案名稱</label>：<font color="#FF0000">
                                        <label id="addFileName" name="addFileName" for="contact" >{{content.file_name}}</label></font>
                            </div>
                            <div class="form-group col-sm-12" style="margin-bottom:20px;">
                                <label for="contact">檔案上傳(目前限制上傳總容量為1G):<font color="#FF0000">{{isUpload}}</font></label>
                                <label class="addFile"> <i class="btn-lg glyphicon glyphicon-cloud-upload"></i>上傳檔案
                                    <input type="file" id="addFile" class="uploadFile" name="addFile"
                                        ng-model="content.file_path" ng-disabled="disableAddFile"
                                        ng-change="onFileAddChange()" accept="video/*" />
                                </label>
                                <!-- <label for="contact">檔案路徑:</label>
                                <input class="form-control" placeholder="第一碼請輸入符號為/，限英文和數字和小位數" type="text" id="file_path"
                                    name="file_path" ng-model="content.file_path" ng-pattern="/^[0-9a-zA-Z\.\/]+$/"
                                    data-ng-keyup=content_ctrl.checkFirstWord(content)>
                                <div ng-show="create_content_info_frm.file_path.$invalid-pattern">
                                    <div style="color:red">輸入格式錯誤</div>
                                </div> -->
                                <div ng-show="create_content_info_frm.file_path.$invalid-pattern">
                                    <div style="color:red">輸入格式錯誤</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="contact">描述:</label>
                                <textarea rows="6" cols="50" class="form-control" ng-model="content.description"
                                    id="description"></textarea>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="contact">備註:</label>
                                <textarea rows="4" cols="50" class="form-control" ng-model="content.comment"
                                    id="comment"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning pull-right btn-lg"
                            data-ng-click="content_ctrl.addContent(content)"
                            ng-disabled="disableAddBtn">
                            <i class="glyphicon glyphicon-search"></i> 新增
                        </button>
                        <button type="button" class="btn btn-default btn-lg" id="close-modal"
                            data-dismiss="modal">關閉</button>
                    </div>
                </div>
            
        </div>
    </div>

    <!--編輯-->
    <div class="modal fade" id="edit_content_info_modal" role="dialog">
        <loading></loading>        
        <div class="modal-dialog modal-dialog-scrollable" role="document" style="width: 1200px;">            
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">編輯內容 || {{content_ctrl.content_info.title}} </h2>
                    </div>                    
                    <div class="modal-body" style={{bodyHeight}}>                                                                       
                        <form method="post" id="edit_content_info" name="edit_content_info">                            
                            <div class="form-group col-sm-12">
                                <label for="contact">標題:</label>
                                <input type="text" class="form-control" ng-model="content_ctrl.content_info.title"
                                    id="title" name="title" ng-required="true" maxlength="50"
                                    ng-change="content_ctrl.editChangeByTitle(content_ctrl.content_info.title)">
                                <div ng-show="edit_content_info.title.invalid">
                                    <div style="color:red">請填寫這個欄位</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="vender_id">內容商:</label>
                                <select name="vender_id" id="vender_id" class="form-control"
                                    data-ng-model="content_ctrl.content_info.vender_id"
                                    data-ng-options="d.id as d.name for d in venderData"
                                    data-ng-change="content_ctrl.editChangeByVenderId(content_ctrl.content_info.vender_id)">
                                </select>
                                <div ng-show="edit_content_info.vender_id.invalid">
                                    <div style="color:red">請填寫這個欄位</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="gender">主分類:</label>
                                <select name="category_id" id="category_id" class="form-control"
                                    data-ng-model="content_ctrl.content_info.category_id"
                                    data-ng-options="d.id as d.name for d in catalogData"
                                    data-ng-change="content_ctrl.editChangeByCategory(content_ctrl.content_info.category_id)">
                                </select>
                                <div ng-show="edit_content_info.category_id.invalid">
                                    <div style="color:red">請填寫這個欄位</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="gender">次分類:</label>
                                <select name="subcategory_id" id="subcategory_id" class="form-control"
                                    data-ng-model="content_ctrl.content_info.subcategory_id"
                                    data-ng-options="sub.id as sub.name for sub in subCatalogData"
                                    data-ng-change="content_ctrl.editChangeBySubcategoryId(content_ctrl.content_info.subcategory_id)">
                                </select>
                                <div ng-show="edit_content_info.subcategory_id.invalid">
                                    <div style="color:red">請填寫這個欄位</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="contact">發行年份:</label>
                                <p class="input-group">
                                <div class="">
                                    <input type="text"  class="form-control"  ng-model="content_ctrl.content_info.publish_year"
                                        id="publish_year" maxlength="4">
                                </div>
                                </p>
                            </div>
                            <div class="form-group col-sm-5">
                                <label for="contact">開始時間:</label>
                                <input type="hidden" ng-model="content_ctrl.content_info.start_time"/>
                                <p class="input-group">
                                   
                                    <div class="form-inline">
                                        <input type="text" style="width:120px" class="form-control" datetime-picker="yyyy-MM-dd"                                            
                                            id="edit_start_time" name="edit_start_time"
                                            ng-model="content_ctrl.content_info.edit_start_time"
                                            is-open="content_ctrl.date.showFlag1"
                                            ng-keyup="editChangeByStime(content_ctrl.content_info.edit_start_time)" 
                                            ng-change="editChangeByStime(content_ctrl.content_info.edit_start_time)" />
                                        <button type="button" class="btn btn-default"
                                                ng-click="content_ctrl.date.showFlag1 = true"><i
                                                    class="fa fa-calendar"></i></button>
                                        <select  name="editStartHour" id="editStartHour" class="form-control"
                                                    data-ng-model="content_info.editStartHour"
                                                    data-ng-options="sub  for sub in hourData">
                                        </select>
                                        <span>：</span>
                                        <select   name="editStartMinute" id="editStartMinute" class="form-control"
                                                    data-ng-model="content_info.editStartMinute"
                                                    data-ng-options="sub  for sub in minuteData"                                       >
                                        </select>
                                        <span>：</span>
                                        <select   name="editStartSecond" id="editStartSecond" class="form-control"
                                                    data-ng-model="content_info.editStartSecond"
                                                    data-ng-options="sub  for sub in minuteData"                                       >
                                        </select>   
                                     </div>
                                     <div ng-show="edit_content_info.edit_start_time.invalid">
                                        <div style="color:red">輸入格式錯誤</div>
                                    </div>
                                </p>                                
                            </div>
                            <div class="form-group col-sm-5">
                                <label for="contact">結束時間:</label>
                                <p class="input-group">
                                    <input type="hidden" ng-model="content_ctrl.content_info.end_time" />
                                    <div class="form-inline">
                                        <input type="text" style="width:120px" class="form-control" datetime-picker="yyyy-MM-dd"
                                            id="edit_end_time" name="edit_end_time"
                                            ng-model="content_ctrl.content_info.edit_end_time"
                                            is-open="content_ctrl.date.showFlag2"
                                            ng-keyup="editChangeByEtime(content_ctrl.content_info.edit_end_time)"
                                            data-ng-change="editChangeByEtime(content_ctrl.content_info.edit_end_time)">
                                        <button type="button" class="btn btn-default"
                                                ng-click="content_ctrl.date.showFlag2 = true"><i
                                                class="fa fa-calendar"></i></button>
                                        <select  name="editSEndHour" id="editSEndHour" class="form-control"
                                                    data-ng-model="content_info.editEndHour"
                                                    data-ng-options="sub  for sub in hourData">
                                        </select>
                                        <span>：</span>
                                        <select   name="editEndMinute" id="editEndMinute" class="form-control"
                                                    data-ng-model="content_info.editEndMinute"
                                                    data-ng-options="sub  for sub in minuteData"                                       >
                                        </select> 
                                        <span>：</span>
                                        <select   name="editEndSecond" id="editEndSecond" class="form-control"
                                                    data-ng-model="content_info.editEndSecond"
                                                    data-ng-options="sub  for sub in minuteData"                                       >
                                        </select>   
                                    </div>
                                </p>
                                <div ng-show="edit_content_info.edit_end_time.invalid">
                                    <div style="color:red">輸入格式錯誤</div>
                                </div>
                            </div>
                            <hr   class="form-group col-sm-12"/>

                            <div class="form-group col-sm-4">
                                <h3 style="color:blue">檔案狀態： {{content_ctrl.content_info.status_name}}</h3>
                                <!-- <div style="color:blue">*狀態為：檔案未關聯、檔案處理中，檔案路徑才允許修改</div>                     -->
                            </div>
                            <div class="form-group col-sm-8" ng-show='showUnuploadDesc'>
                                <h9 style="color:blue">*狀態說明：檔案已關聯、轉檔中，檔案不允許上傳*</h3>
                            </div>
                            <th ng-click="col='name';desc=!desc"></th>

                            <div class="form-group col-sm-12" >
                                    <label for="contact">檔案名稱</label>：<font color="#FF0000">
                                        <label id="editFileName" name="editFileName" for="contact" >{{content_ctrl.content_info.file_name}}</label></font>
                            </div>
                            <div class="form-group col-sm-12" ng-hide="disableFilepath">
                                <label for="contact">檔案上傳(目前限制上傳總容量為1G):<font color="#FF0000">{{isUpload}}</font></label>                                
                                <label class="addFile" >                                        
                                    <i class="btn-lg glyphicon glyphicon-cloud-upload"></i> 上傳檔案<!--class="uploadFile"-->
                                    <input type="file" id="editFile" name="editFile"  class="uploadFile"
                                        ng-model="content_ctrl.content_info.file_path" ng-disabled="disableFilepath"
                                        ng-Change="content_ctrl.onFileEditChange()" accept="video/*"/>
                                </label>

                                <!-- <input type="text" class="form-control" ng-model="content_ctrl.content_info.file_path"
                                    id="file_path" name="file_path" ng-pattern="/^[0-9a-zA-Z\.\/\-\_]+$/"
                                    placeholder="第一碼請輸入符號為/，限英文、數字、底線、連字號或小數點"  ng-readonly="disableFilepath"
                                    data-ng-keyup="content_ctrl.checkFirstWordOnEdit()" />
                                <div ng-show="edit_content_info.file_path.$invalid-pattern">
                                    <div style="color:red">輸入格式錯誤</div>
                                </div> -->
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="contact">片長:</label>
                                <input type="text" class="form-control" ng-model="content_ctrl.content_info.run_time"
                                    id="run_time" name="run_time">
                            </div>
                            <div class="form-group col-sm-10">
                                <label for="contact">標籤:</label>
                                <input type="hidden" class="form-control" ng-model="content_ctrl.content_info.tags" id="tag"
                                    maxlength="50">
                                <tags-input ng-model="edit_tags" add-on-enter="true" min-length="0">
                                    <auto-complete source="tagData"></auto-complete>
                                </tags-input>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="contact">描述:</label>
                                <textarea rows="6" cols="50" class="form-control"
                                    ng-model="content_ctrl.content_info.description" id="description"></textarea>
                            </div>
                            <div class="form-group col-sm-12" ng-show="showPalyer">
                                <label for="contact">影音網址:(點選下列網址，進行觀看)</label>
                                <!-- <video id="my-video" class="video-js" controls preload="auto" width="768" height="431" data-setup="{}" autoplay>
                                    <source id="myAnchor2" src="http://ott2bcmtest-hieventtrial2.cdn.hinet.net/vod_ott2bcmtest/_definst_/smil:ott2bcmtest/test/hd-hls-cl-tv.smil/playlist.m3u8">">
                                </video> -->
                                
                                    <div style="word-wrap:break-word;" ng-repeat="url in url_data"><a href='' ng-click="chgPlayUrl(url.url)">
                                    {{url.url}}
                                    </a></div>
                                 
                                <iframe id="player" ng-show="showPalyer" height=450 width=810 frameborder="0"
                                    allowfullscreen></iframe>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="contact">備註:</label>
                                <textarea rows="4" cols="50" class="form-control"
                                    ng-model="content_ctrl.content_info.comment" id="comment"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning pull-right btn-lg"
                            data-ng-click="content_ctrl.updateContent()"
                            ng-disabled="disableEditBtn"">
                            <i class="glyphicon glyphicon-search"></i> 更新
                        </button>
                        <button type="button" class="btn btn-default btn-lg" id="close-modal2"
                            data-dismiss="modal">關閉</button>
                    </div>
                </div>
             
        </div>
    </div>
    
</div>



<div class="pull-center">
    <div>
        <pagination ng-model="currentPage" total-items="total_row" max-size="maxSize" boundary-links="true" >
                
        </pagination>
    </div>
</div>