<!--頁面標題及按鈕-->
<div class="panel panel-info" style="border-color:#23c6c800">
    <div class="panel-heading"
    style="height: 60px;width: auto;margin-top: -105px;margin-left: -30px;margin-right: -30px">
        <span>
            <font size="5">頻道EPG內容上傳維護作業</font>
        </span>
        <div class="btn-toolbar pull-right">
            <button class="btn btn-success btn-lg" data-ng-click="batchSave()" type="button">
                <i class="glyphicon glyphicon-floppy-disk"></i> 儲存
            </button>
            <button class="btn btn-success btn-lg" type="button" onclick="window.open('php/download_epg_file.php', 'RSS', );">
                <i class="glyphicon glyphicon-download-alt"></i>下載
            </button>
            <button class="btn btn-success btn-lg" data-ng-click="clearUpload()" type="button">
                <i class="glyphicon glyphicon-floppy-disk"></i> 清除資料
            </button>
        </div>
    </div>
</div>

<div class="alert alert-primary" role="alert" style="background-color:#d4edda" ng-show="showMsg">
    <pre> 上傳訊息內容如下：<BR> {{msg}}</pre>
</div>


<div class="panel-body">
    <div class="row">
        <div class="col-lg-10">
            <h4>上傳資料步驟：(請先點選"下載"範例檔格式操作)<BR></h4>
            <h4>1.點選"選擇檔案"上傳csv格式(文字內容不能使用逗號), 點選"上傳"功能按鈕，進行預覽<BR></h4>
            <h4>2.進行預覽資料編輯,最後點選"儲存"進行資料存檔<BR></h4>
        </div>
    </div>
    <div class="row">
        <input type="file" id="file" name="file" files-input ng-model="fileList" ng-change="onInputChange()" multiple />
    </div>
    <div class="row">
        <button class="btn btn-success btn-lg" data-ng-click="uploadSimple()" type="button">
            <i class="glyphicon glyphicon-upload"></i> 預覽
        </button>
    </div>

</div>




<!--查詢結果-->
<table class="table">
    <thead>
        <tr>
            <th ng-click="col='name';desc=!desc">編號</th>
            <th ng-click="col='name';desc=!desc">頻道名稱</th>
            <th ng-click="col='name';desc=!desc">頻道編號</th>
            <th ng-click="col='name';desc=!desc">標題</th>
            <th ng-click="col='name';desc=!desc">開始時間</th>
            <th ng-click="col='name';desc=!desc">結束時間</th>
            <th class="text-right">動作</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="contents in content_list | orderBy:col:desc"
            ng-click="epg_upload_ctrl.selectContent(contents, $event)"
            ng-dblclick="epg_upload_ctrl.edit_content_info(contents)"
            ng-class="{'selected':contents.id == selectedRow}">
            <td>{{contents.id}}</td>
            <td>{{contents.live_title}}</td>
            <td>{{contents.live_id}}</td>
            <td title={{contents.text}}>{{contents.text | limitTo: 10}}{{contents.text.length > 10 ? '...' : ''}}
            </td>
            <td>{{contents.start_time}}</td>
            <td>{{contents.end_time}}</td>
            <td class="text-right">
                <button type="button" data-toggle="modal" class="button button-red"
                    ng-click="epg_upload_ctrl.delete_content_info(contents)">刪除</button>
                <button type="button" data-toggle="modal" class="button button-blue"
                    data-ng-click="epg_upload_ctrl.edit_content_info(contents)">編輯</button>
            </td>
        </tr>
    </tbody>
</table>


<!--編輯-->
<div class="modal fade" id="edit_content_info_modal" role="dialog">
    <div class="modal-dialog">
        <form method="post" id="edit_content_info" name="edit_content_info">
            <!-- Modal content-->
            <div class="modal-content" style="width: 900px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">編輯內容 || {{content_info.text}} </h4>
                </div>
                <div class="modal-body" style="height: 250px;">
                    <div class="form-group col-sm-12">
                        <label for="name">頻道:</label>
                        <select name="live_id" id="live_id" class="form-control"
                            data-ng-model="epg_upload_ctrl.content_info.live_id" ng-required="true"
                            data-ng-options="d.id as d.title for d in liveData"></select>
                        <div ng-show="edit_content_info.live_id.$invalid-pattern">
                            <div style="color:red">請填寫這個欄位</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="contact">標題:</label>
                        <input type="text" class="form-control" ng-model="epg_upload_ctrl.content_info.text" id="text"
                            name="text" ng-required="true" maxlength="50">
                        <div ng-show="edit_content_info.text.$invalid-pattern">
                            <div style="color:red">請填寫這個欄位</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="contact">開始時間:</label>
                        <p class="input-group">
                            <input type="hidden" ng-model="content_info.start_time" />
                            <input type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm:ss"
                                id="edit_start_time" name="edit_start_time"
                                ng-model="epg_upload_ctrl.content_info.start_time" is-open="date.showFlag1" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="date.showFlag1 = true"><i
                                        class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                        <div ng-show="edit_content_info.edit_start_time.$invalid-pattern">
                            <div style="color:red">輸入格式錯誤</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="contact">結束時間:</label>
                        <p class="input-group">
                            <input type="hidden" ng-model="content_info.end_time" />
                            <input type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm:ss"
                                id="edit_end_time" name="edit_end_time" ng-model="epg_upload_ctrl.content_info.end_time"
                                is-open="date.showFlag2">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="date.showFlag2 = true"><i
                                        class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                        <div ng-show="edit_content_info.edit_end_time.$invalid-pattern">
                            <div style="color:red">輸入格式錯誤</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="close-modal2"
                        data-ng-click="epg_upload_ctrl.updateContent()" data-dismiss="modal">確認</button>
                </div>
            </div>
        </form>
    </div>
</div>