<!--頁面標題及按鈕-->
<div class="panel panel-info" style="border-color:#23c6c800">
    <div class="panel-heading"
    style="height: 60px;width: auto;margin-top: -105px;margin-left: -30px;margin-right: -30px">
        <span>
            <font size="5">VOD CONTENT上傳資料維護作業</font>
        </span>
        <div class="btn-toolbar pull-right">
            <button class="btn btn-success btn-lg" data-ng-click="batchSave()" type="button" ng-disabled="disableUpload">
                <i class="glyphicon glyphicon-floppy-disk"></i> 儲存
            </button>
            <button class="btn btn-success btn-lg" type="button" onclick="window.open('php/downloadFile.php', 'RSS', );">
                <i class="glyphicon glyphicon-download-alt"></i>下載
            </button>
            <button class="btn btn-success btn-lg" data-ng-click="clearUpload()" type="button">
                <i class="glyphicon glyphicon-floppy-disk"></i> 清除資料
            </button>
        </div>
    </div>
</div>

<div class="alert alert-primary" role="alert" style="background-color:#d4edda" ng-show="showMsg">
    <pre> 上傳訊息內容如下：<BR> {{msg}}</pre>
</div>


<div class="panel-body">
    <div class="row">
        <div class="col-lg-10">
            <h4>上傳資料步驟：(請先點選"下載"範例檔格式操作)<BR></h4>
            <h4>1.點選"選擇檔案"上傳csv格式(文字內容不能使用逗號), 點選"上傳"功能按鈕，進行預覽<BR></h4>
            <h4>2.進行預覽資料編輯,最後點選"儲存"進行資料存檔<BR></h4>
        </div>
    </div>
    <div class="row">

        <input type="file" id="file" name="file" files-input ng-model="fileList" ng-change="onInputChange()" multiple />
    </div>
    <div class="row">
        <button class="btn btn-primary" data-ng-click="uploadSimple()" type="button">
            <i class="glyphicon glyphicon-upload"></i> 預覽
        </button>
    </div>

</div>




<!--查詢結果-->
<table class="table">
    <thead>
        <tr>
            <th ng-click="col='name';desc=!desc">ID</th>
            <th ng-click="col='name';desc=!desc">內容商</th>
            <th ng-click="col='name';desc=!desc">標題</th>
            <th ng-click="col='name';desc=!desc">主分類</th>
            <th ng-click="col='name';desc=!desc">次分類</th>
            <th ng-click="col='name';desc=!desc">開始時間</th>
            <th ng-click="col='name';desc=!desc">結束時間</th>
            <!-- <th ng-click="col='name';desc=!desc">檔案路徑</th> -->
            <!-- <th ng-click="col='name';desc=!desc">發行年份</th>
            <th ng-click="col='name';desc=!desc">標籤</th> -->
            <!--
                <th>片長</th>
                <th>分級</th>
                <th>建立時間</th>
                <th>更新時間</th>                 
                <th ng-click="col='name';desc=!desc">影音網址</th>
                <th ng-click="col='name';desc=!desc">備註</th>-->
            <!-- <th class="text-right">動作</th> -->
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="contents in content_list | orderBy:col:desc" ng-click="upd_ctrl.selectContent(contents, $event)"
            ng-dblclick="upd_ctrl.edit_content_info(contents)" ng-class="{'selected':contents.id == selectedRow}">
            <td>{{contents.id}}</td>
            <td>{{contents.vender_name}}</td>
            <td title={{contents.title}}>{{contents.title | limitTo: 10}}{{contents.title.length > 10 ? '...' : ''}}
            </td>
            <td>{{contents.category_name}}</td>
            <td>{{contents.subcategory_name}}</td>
            <td>{{contents.start_time}}</td>
            <td>{{contents.end_time}}</td>
            <!-- <td>{{contents.file_path}}</td> -->
            <!-- <td>{{contents.publish_year}}</td>
            <td>
                <li ng-repeat="tag in contents.tags">{{tag.text}}</li>
            </td> -->
            <!-- <td>{{contents.runtime}}</td>                
                <td>{{contents.rating_id}}</td> 
                <td>{{contents.create_time}}</td>
                <td>{{contents.update_time}}</td>                
                <td>{{contents.preview_url}}</td>
                <td>{{contents.comment}}</td> -->
            <!-- <td class="text-right">
                <button type="button" data-toggle="modal" class="button button-red"
                    ng-click="upd_ctrl.delete_content_info(contents)">刪除</button>
                <button type="button" data-toggle="modal" class="button button-blue"
                    data-ng-click="upd_ctrl.edit_content_info(contents)">編輯</button>
            </td> -->
        </tr>
    </tbody>
</table>


<!--編輯-->
<div class="modal fade" id="edit_content_info_modal" role="dialog">
    <div class="modal-dialog">
        <form method="post" id="edit_content_info" name="edit_content_info">
            <!-- Modal content-->
            <div class="modal-content" style="width: 900px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">編輯內容 || {{content_info.title}} </h4>
                </div>
                <div class="modal-body" style="height: 500px;">

                    <div class="form-group col-sm-12">
                        <label for="contact">標題:</label>
                        <input type="text" class="form-control" ng-model="upd_ctrl.content_info.title" id="title"
                            name="title" ng-required="true" maxlength="50">
                        <div ng-show="edit_content_info.title.$invalid-pattern">
                            <div style="color:red">請填寫這個欄位</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="vender_id">內容商:</label>
                        <select name="vender_id" id="vender_id" class="form-control"
                            data-ng-model="upd_ctrl.content_info.vender_id"
                            data-ng-options="d.id as d.name for d in venderData"></select>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="gender">主分類:</label>
                        <select name="category_id" id="category_id" class="form-control"
                            data-ng-model="upd_ctrl.content_info.category_id"
                            data-ng-options="d.id as d.name for d in catalogData"
                            data-ng-change="editChange(upd_ctrl.content_info.category_id)"></select>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="gender">次分類:</label>
                        <select name="subcategory_id" id="subcategory_id" class="form-control"
                            data-ng-model="upd_ctrl.content_info.subcategory_id"
                            data-ng-options="sub.id as sub.name for sub in subCatalogData"></select>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="contact">發行年份:</label>
                        <input type="text" class="form-control" ng-model="upd_ctrl.content_info.publish_year"
                            id="publish_year" maxlength="50">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="contact">開始時間:</label>
                        <p class="input-group">
                            <input type="hidden" ng-model="content_info.start_time" />
                            <input type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm:ss"
                                id="edit_start_time" name="edit_start_time" ng-model="upd_ctrl.content_info.start_time"
                                is-open="date.showFlag1" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="date.showFlag1 = true"><i
                                        class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                        <div ng-show="edit_content_info.edit_start_time.$invalid-pattern">
                            <div style="color:red">輸入格式錯誤</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="contact">結束時間:</label>
                        <p class="input-group">
                            <input type="hidden" ng-model="content_info.end_time" />
                            <input type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm:ss"
                                id="edit_end_time" name="edit_end_time" ng-model="upd_ctrl.content_info.end_time"
                                is-open="date.showFlag2">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="date.showFlag2 = true"><i
                                        class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                        <div ng-show="edit_content_info.edit_end_time.$invalid-pattern">
                            <div style="color:red">輸入格式錯誤</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="contact">檔案路徑:</label>
                        <input type="text" class="form-control" ng-model="upd_ctrl.content_info.file_path"
                            id="file_path" name="file_path" ng-pattern="/^[0-9a-zA-Z\.]+$/" placeholder="請輸入英文和數字"
                            id="file_path" />
                        <div ng-show="edit_content_info.file_path.$invalid-pattern">
                            <div style="color:red">輸入格式錯誤</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="contact">標籤:</label>
                        <input type="hidden" class="form-control" ng-model="upd_ctrl.content_info.tags" id="tag"
                            maxlength="50">
                        <tags-input ng-model="edit_tags" add-on-enter="true" min-length="0">
                            <auto-complete source="tagData"></auto-complete>
                        </tags-input>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="close-modal2"
                        data-ng-click="upd_ctrl.updateContent()" data-dismiss="modal">確認</button>
                </div>
            </div>
        </form>
    </div>
</div>