<!--頁面標題及按鈕-->
<div class="panel panel-info" style="border-color:#23c6c800">
    <div class="panel-heading"
    style="height: 60px;width: auto;margin-top: -105px;margin-left: -30px;margin-right: -30px">
        <span>
            <font size="5">帳號設定維作業</font>
        </span>
        <div class="btn-toolbar pull-right">
            <button type="button" class="btn btn-success btn-lg" data-toggle="modal"
               ng-click="initAddTag()"  >
                <i class="glyphicon glyphicon-plus"></i>新增帳號</button>
        </div>
    </div>
</div>

<div class="alert {{alert_style}}" ng-show="msg_area">
        <span class="glyphicon glyphicon-ok"></span> <strong>{{msg}}</strong>
    </div>
    
<div class="panel-body">
    <div class="row ">
        <div class="col-lg-2">
            <h3>帳號設定</h3>   
        </div>
        <div class="col-lg-8 mt-12">
            <div class="input-group col-md-12">
                <input type="text" id="searchTitle" name="searchTitle" value="" ng-model="searchTitle" ng-init="" class="form-control" value=""/>
                <span class="input-group-btn">
                    <button ng-click="account_ctrl.search_data(searchTitle)" class="button button-green" type="button">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>    
    
    <p class="{{account_ctrl.alert_class}}">{{account_ctrl.msg}}</p>
    <table class="table">
        <thead>
            <tr>
                <th>帳號</th>
                <th>密碼</th>
                <!-- <th>公司名稱</th> -->
                <!-- <th>角色</th> -->
                <th>權限到期日</th>
                <th>管理者</th>
                <th class="text-right">動作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="accounts in account_ctrl.account_list"
                ng-click="account_ctrl.selectContent(accounts, $event)"
                ng-dblclick="account_ctrl.edit_content_info(accounts.id)"
                ng-class="{'selected':accounts.id == selectedRow}">
                <td>{{accounts.name}}</td>
                <td>****</td>
                <td>{{accounts.expire_time}}</td>
                <td>{{accounts.admin==1?"是":"否"}}</td>
                <!-- <td>{{accounts.company}}</td> -->
                <!-- <td>{{accounts.role}}</td> -->                
                <td class="text-right">
                    <button type="button" data-toggle="modal" class="btn btn-danger btn-lg"
                        ng-click="account_ctrl.delete_content_info(accounts.id)">刪除</button>
                    <button type="button" data-toggle="modal" class="btn btn-success btn-lg"
                        ng-click="account_ctrl.edit_content_info(accounts.id)">編輯</button>
                    <!-- <button type="button" data-toggle="modal" data-target="#view_content_info_modal"
                        class="btn btn-success btn-lg" ng-click="account_ctrl.get_content_info(accounts.id)">瀏覽</button> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--分頁-->
<div class="pull-right">
        <pagination ng-model="currentPage" total-items="total_row" max-size="maxSize" boundary-links="true">
        </pagination>
    </div>


<!--新增-->
<div class="modal fade" id="create_content_info_modal" role="dialog">
    <div class="modal-dialog">
        <form method="post" id="create_content_info_frm" name="create_content_info_frm">
            <!-- Modal content-->
            <div class="modal-content" style="width: 900px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">新增帳號資訊</h4>
                </div>
                <div class="modal-body" style="height: 250px;">
                    <div class="form-group col-sm-4">
                        <label for="contact">帳號:</label>
                        <input type="text" class="form-control" ng-model="accounts.name" id="name" value="" maxlength="50"
                            ng-required="true">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="gender">密碼:</label>
                        <input type="password" class="form-control" ng-model="accounts.pass" id="pass" maxlength="50"
                            ng-required="true">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="vender_id">權限到期日:</label>
                        <p class="input-group">
                            <input type="hidden" ng-model="accounts.expire_time" />
                            <input type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm:ss"
                                id="insert_expire_time" ng-model="accounts.expire_time"
                                is-open="account_ctrl.date.showFlag1" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                    ng-click="account_ctrl.date.showFlag1 = true"><i
                                        class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                   
                    <!-- <div class="form-group col-sm-12">
                        <label for="contact">標籤:</label>
                        <tags-input ng-model="content.tags" add-on-enter="true" min-length="0">
                            <auto-complete source="tagData"></auto-complete>
                        </tags-input>
                    </div> -->
                    <div ng-show="super_user == '1' || admin == '1' " class="form-group col-sm-6">
                            <label for="vender_id">管理者：</label>
                            <input type="radio" ng-model="accounts.admin" id="isAdmin" name="isAdmin" value="1"> 是
                            <input type="radio"  ng-model="accounts.admin" id="noAdmin" name="noAdmin"  checked="true" value="0" >否
                    </div>
                    <!-- <div class="form-group col-sm-4">
                        <label for="gender">公司名稱:</label>
                        <input type="text" class="form-control" ng-model="account.company" id="company" maxlength="50"
                            ng-required="true">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="contact">角色:</label>
                        <input type="text" class="form-control" ng-model="account.role" id="publish_year"
                            maxlength="50">
                    </div> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="button button-green  pull-right"
                        data-ng-click="account_ctrl.add(accounts)">新增</button>
                    <button type="button" class="btn btn-default" id="close-modal" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!--編輯-->
<div class="modal fade" id="edit_content_info_modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="width: 900px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">編輯內容 || {{account_ctrl.content_info.title}} </h4>
            </div>
            <div class="modal-body" style="height: 100px;">

                <div class="form-group col-sm-4">
                    <label for="contact">帳號:</label>
                    <input type="text" class="form-control" ng-model="account_ctrl.content_info.name" id="name"
                        maxlength="50">
                </div>
                <div class="form-group col-sm-4">
                    <label for="vender_id">密碼:</label>
                    <input type="password" class="form-control" ng-model="account_ctrl.content_info.pass" id="pass"
                        maxlength="50">
                </div>
                <div class="form-group col-sm-4">
                    <label for="contact">權限到期日:</label>
                    <p class="input-group">
                        <input type="hidden" ng-model="account_ctrl.content_info.start_time" />
                        <input type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm:ss"
                            id="edit_expire_time" ng-model="account_ctrl.content_info.expire_time"
                            is-open="account_ctrl.date.showFlag1" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                ng-click="account_ctrl.date.showFlag1 = true"><i class="fa fa-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div ng-show="super_user == '1'  || admin == '1' " class="form-group col-sm-6">
                        <label for="vender_id">管理者:</label>
                        <input type="radio" ng-model="account_ctrl.content_info.admin" name="isAdmin" value="1"> 是
                        <input type="radio"  ng-model="account_ctrl.content_info.admin" name="isAdmin" value="0">否
                </div>
                <!-- <div class="form-group col-sm-12">
                    <label for="contact">群組(公司)名稱:</label>
                    <input type="hidden" class="form-control" ng-model="account_ctrl.content_info.tags" id="tag"
                        maxlength="50">
                    <tags-input ng-model="edit_tags" add-on-enter="true" min-length="0">
                        <auto-complete source="tagData"></auto-complete>
                    </tags-input>
                </div> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning  btn-lg pull-right"
                    data-ng-click="account_ctrl.updateContent()">更新</button>
                <button type="button" class="btn btn-default btn-lg" id="close-modal2" data-dismiss="modal">關閉</button>
            </div>
        </div>

    </div>
</div>