﻿<!--頁面標題及按鈕-->
<div class="panel panel-info" style="border-color:#23c6c800">
    <div class="panel-heading"
    style="height: 60px;width: auto;margin-top: -105px;margin-left: -30px;margin-right: -30px">
        <span>
            <font size="5">主次分類維作業</font>
        </span>
        <div class="btn-toolbar pull-right">
            <button type="button" class="btn btn-success btn-lg" data-toggle="modal"
                data-ng-click="cat_ctrl.initSubCategoryData()">
                <i class="glyphicon glyphicon-plus"></i>新增次類別</button>
            <button type="button" class="btn btn-success btn-lg" data-toggle="modal"
                data-target="#create_category_info_modal">
                <i class="glyphicon glyphicon-plus"></i> 新增主類別
            </button>
        </div>
    </div>
</div>
<!--主類別-->
<div class="panel-body" style="width:500px">
    <div class="row">
        <div class="col-lg-2">
            <h3>主類別名稱：</h3>
        </div>
        <div class="col-lg-8 mt-12">
            <div class="input-group col-md-12">
                <input type="text" id="compCatalog" value="" data-ng-model="compCatalog" class="form-control"
                    placeholder="Search" />
                <span class="input-group-btn">
                    <button ng-click="cat_ctrl.search_data(compCatalog)" class="button button-green" type="button">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
        <!-- <div class="col-lg-2 ">
            <button type="button" class="button button-purple mt-12 pull-right" data-toggle="modal" data-target="#create_category_info_modal">
               新增主類別</button>
        </div> -->
    </div>

    <!--主類別查詢結果-->
    <table class="table">
        <thead>
            <tr>
                <th>主類別名稱</th>
                <!-- <th>主類別公司名稱</th> -->
                <th class="text-right">動作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="categorys in cat_ctrl.category_list" ng-click="cat_ctrl.selectContent(categorys, $event)"
                ng-dblclick="cat_ctrl.edit_category_info(categorys.id)"
                ng-class="{'selected':categorys.id == selectedRow}">
                <td>{{categorys.name}}</td>
                <!-- <td>{{categorys.company}}</td> -->
                <td class="text-right">
                    <button type="button" data-toggle="modal" class="button button-red"
                        ng-click="cat_ctrl.delete_category_info(categorys.id)">刪除</button>
                    <button type="button" data-toggle="modal" class="button button-blue"
                        ng-click="cat_ctrl.edit_category_info(categorys.id)">編輯</button>
                    <!-- <button type="button" data-toggle="modal" data-target="#view_info_modal" class="button button-green"
                        ng-click="cat_ctrl.get_category_info(categorys.id)">瀏覽</button> -->
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pull-center">
        <pagination ng-model="currentPage" total-items="total_row" max-size="maxSize" boundary-links="true">
        </pagination>
    </div>
</div>
<!--主類別分頁-->
<!-- <div class="pull-left" style="width:500px">
    <pagination ng-model="currentPage" total-items="total_row" max-size="maxSize" boundary-links="true">
    </pagination> -->
</div>

<!--主類別新增-->
<div class="modal fade" id="create_category_info_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="width: 600px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">新增主類別資料</h4>
            </div>
            <div class="modal-body">
                <form method="post" id="create_category_info_frm" name="create_category_info_frm" ng-submit="cat_ctrl.addCategory(category)">
                    <div class="form-group">
                        <label for="name">主類別名稱:</label>
                        <input type="text" ng-model="category.name" id="name" name="name" class="form-control" ng-required="true"
                            maxlength="50">
                        <div ng-show="create_category_info_frm.name.$invalid-pattern">
                            <div style="color:red">請填寫這個欄位</div>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label for="Company">主類別公司名稱：</label>
                        <input type="text" class="form-control" ng-model="category.company" id="company" required
                            maxlength="50">
                    </div> -->
                    <!-- <div class="form-group mb-50">
                        <input type="submit" class="button button-green  pull-right" value="Submit" />
                    </div> -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary  pull-right"
                    ng-disabled="create_category_info_frm.$invalid-pattern"
                    data-ng-click="cat_ctrl.addCategory(category)">確定</button>
                <button type="button" class="btn btn-default" id="close-modal1" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<!--主類別點瀏覽看詳細結果-->
<div class="modal fade" id="view_info_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="width: 600px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">主類別資料</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label>主類別名稱:</label>
                    {{cat_ctrl.view_category_info.name}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            </div>
        </div>

    </div>
</div>

<!--主類別編輯-->
<div class="modal fade" id="edit_category_info_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="width: 600px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">編輯主類別資料 || {{cat_ctrl.category_info.name}} </h4>
            </div>
            <div class="modal-body">
                <form method="post" id="edit_category_info_frm" name="edit_category_info_frm">
                    <input ng-model="cat_ctrl.category_info.id" type="hidden" />
                    <div class="form-group">
                        <label>主類別名稱:</label>
                        <input type="text" ng-model="cat_ctrl.category_info.name" name="name" id="name" class="form-control"
                            ng-required="true" maxlength="50">
                    </div>
                    <div ng-show="edit_category_info_frm.name.$invalid-pattern">
                        <div style="color:red">請填寫這個欄位</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-right"
                    ng-disabled="edit_category_info_frm.$invalid-pattern"
                    data-ng-click="cat_ctrl.updateCategory()">更新</button>
                <button type="button" class="btn btn-default" id="close-modal2" data-dismiss="modal">關閉</button>
            </div>
        </div>

    </div>
</div>


<hr>
<!--次類別-->
<div class="panel-body" style="width:500px">
    <div class="row">
        <div class="col-lg-2">
            <h3>次類別清單</h3>
        </div>
        <div class="col-lg-8 mt-12">
            <div class="input-group col-md-12">
                <select name="category_id" id="category_id" class="form-control" data-ng-model="category_id"
                    data-ng-options="d.id as d.name for d in catalogData">
                    <option value="">-- 搜尋主類別 --</option>
                </select>
                <input type="text" id="compSubCatalog" value="" data-ng-model="compSubCatalog" class="form-control"
                    placeholder="搜尋次類別" />
                <span class="input-group-btn">
                    <button ng-click="cat_ctrl.loadSubData(1)" class="button button-green" type="button">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <!--次類別查詢結果-->
    <table class="table">
        <thead>
            <tr>
                <th>主類別名稱</th>
                <th>次類別名稱</th>
                <!-- <th>次類別公司名稱</th> -->
                <th class="text-right">動作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="subCategorys in cat_ctrl.sub_category_list"
                ng-click="cat_ctrl.selectSubCategory(subCategorys, $event)"
                ng-dblclick="cat_ctrl.edit_sub_category_info(subCategorys.id)"
                ng-class="{'selected':subCategorys.id == selectedSubRow}">
                <td>{{subCategorys.category_name}}</td>
                <td>{{subCategorys.name}}</td>
                <!-- <td>{{categorys.company}}</td> -->
                <td class="text-right">
                    <button type="button" data-toggle="modal" class="button button-red"
                        ng-click="cat_ctrl.delete_sub_category_info(subCategorys.id)">刪除</button>
                    <button type="button" data-toggle="modal" class="button button-blue"
                        ng-click="cat_ctrl.edit_sub_category_info(subCategorys.id)">編輯</button>
                    <!-- <button type="button" data-toggle="modal" data-target="#view_sub_info_modal"
                        class="button button-green" ng-click="cat_ctrl.edit_sub_category_info(subCategorys.id)">瀏覽</button> -->
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pull-center">
        <pagination ng-model="subCurrentPage" total-items="sub_total_row" max-size="maxSize" boundary-links="true">
        </pagination>
    </div>
</div>
<!--次類別分頁-->
<!-- <div class="pull-right">
    <pagination ng-model="subCurrentPage" total-items="sub_total_row" max-size="maxSize" boundary-links="true">
    </pagination>
</div> -->


<!--次類別編輯-->
<div class="modal fade" id="edit_sub_category_info_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="width: 600px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">編輯次類別清單 || {{cat_ctrl.sub_category_info.name}} </h4>
            </div>
            <div class="modal-body">
                <form method="post" id="edit_sub_category_info_frm" name="edit_sub_category_info_frm">
                    <input ng-model="cat_ctrl.sub_category_info.id" type="hidden" />
                    <div class="form-group">
                        <label>主類別名稱:</label>
                        <select name="category_id" id="category_id" class="form-control"
                            data-ng-model="cat_ctrl.sub_category_info.category_id" ng-required="true"
                            data-ng-options="d.id as d.name for d in catalogData"></select>
                        <div ng-show="edit_sub_category_info_frm.category_id.$invalid-pattern">
                            <div style="color:red">請填寫這個欄位</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>次類別名稱:</label>
                        <input type="text" ng-model="cat_ctrl.sub_category_info.name" id="name" name="name"
                            class="form-control" ng-required="true" maxlength="50">
                        <div ng-show="edit_sub_category_info_frm.name.$invalid-pattern">
                            <div style="color:red">請填寫這個欄位</div>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label>次類別公司名稱:</label>
                        <input type="text" class="form-control" ng-model="cat_ctrl.sub_category_info.company" required
                            maxlength="50">
                    </div> -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary  pull-right"
                    ng-disabled="edit_sub_category_info_frm.$invalid-pattern"
                    data-ng-click="cat_ctrl.updateSubCategory()">更新</button>
                <button type="button" class="btn btn-default" id="close-modal4" data-dismiss="modal">關閉</button>
            </div>
        </div>

    </div>
</div>

<!--次類別點詳細結果-->
<div class="modal fade" id="view_sub_info_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="width: 600px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">次類別清單 </h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label>次類別名稱:</label>
                    {{cat_ctrl.sub_category_info.name}}

                </div>
                <!-- <div class="form-group">
                    <label>次類別公司名稱:</label>
                    {{cat_ctrl.sub_category_info.company}}
                </div> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!--次類別新增-->
<div class="modal fade" id="create_sub_category_info_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="width: 600px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">新增次類別資料</h4>
            </div>
            <div class="modal-body">
                <form method="post" id="create_sub_category_info_frm" name="create_sub_category_info_frm">
                    <div class="form-group">
                        <label for="name">主類別:</label>
                        <!-- <input type="text" ng-model="subcategory.category_id" id="id" class="form-control" required maxlength="50"> -->
                        <select name="category_id" id="category_id" class="form-control"
                            data-ng-model="subcategory.category_id" ng-required="true"
                            data-ng-options="d.id as d.name for d in catalogData"></select>
                        <div ng-show="create_sub_category_info_frm.category_id.$invalid-pattern">
                            <div style="color:red">請填寫這個欄位</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">次類別名稱:</label>
                        <input type="text" ng-model="subcategory.name" id="name" name="name" class="form-control"
                            ng-required="true" maxlength="50">
                        <div ng-show="create_sub_category_info_frm.name.$invalid-pattern">
                            <div style="color:red">請填寫這個欄位</div>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label for="Company">次類別公司名稱：</label>
                        <input type="text" class="form-control" ng-model="subcategory.company" id="company" required
                            maxlength="50">
                    </div> -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-right"
                    ng-disabled="create_sub_category_info_frm.$invalid-pattern"
                    data-ng-click="cat_ctrl.addSubCategory(subcategory)">
                    <i class="glyphicon glyphicon-add"></i>確定
                </button>
                <button type="button" class="btn btn-default" id="close-modal3" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>