<!--頁面標題及按鈕-->
<div class="panel panel-info" style="border-color:#23c6c800">
    <div class="panel-heading"
    style="height: 60px;width: auto;margin-top: -105px;margin-left: -30px;margin-right: -30px">
        <span>
            <font size="5">公司資料維護作業</font>
        </span>
        <div class="btn-toolbar pull-right">
            <button type="button" class="btn btn-success btn-lg" data-toggle="modal"
                data-target="#create_info_modal">
                <i class="glyphicon glyphicon-plus"></i>新增功能</button>
        </div>
    </div>
</div>

<!--toolbar-->
<div class="panel-body">
    <div class="row">
        <div class="col-lg-2">
            <h3>公司資料</h3>
        </div>
        <div class="col-lg-8 mt-12">
            <div class="input-group col-md-12">
                <input type="text" id="searchTitle" value="" data-ng-model="searchTitle" class="form-control"
                    placeholder="Search" />
                <span class="input-group-btn">
                    <button ng-click="company_ctrl.search_data(searchTitle)" class="button button-green" type="button">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <!--查詢標頭-->
    <table class="table">
        <thead>
            <tr>
                <th>公司名稱</th>
                <th>唯一識別碼</th>
                <th>最高權限帳號</th>
                <!-- <th>最高權限密碼</th>                 -->
                <th class="text-right">動作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in company_ctrl.company_list"
                ng-click="company_ctrl.selectContent(data, $event)"
                ng-dblclick="company_ctrl.edit_info(data.id)"
                ng-class="{'selected':data.id == selectedRow}">
                <td>{{data.company_name}}</td>
                <td>{{data.company}}</td>
                <td>{{data.name}}</td>
                <!-- <td>{{data.password}}</td> -->                
                <td class="text-right">
                    <button type="button" data-toggle="modal" class="btn btn-danger btn-lg"
                        ng-click="company_ctrl.delete(data.id)">刪除</button>
                    <button type="button" data-toggle="modal"  class="btn btn-success btn-lg"
                        ng-click="company_ctrl.edit_info(data.id)">編輯</button>
                    <!-- <button type="button" data-toggle="modal" data-target="#view_info_modal" class="button button-green"
                                ng-click="cat_ctrl.get_category_info(categorys.id)">瀏覽</button> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--分頁-->
<div class="pull-right">
    <pagination ng-model="currentPage" total-items="total_row" max-size="maxSize" boundary-links="true">
    </pagination>
</div>

<!--新增-->
<div class="modal fade" id="create_info_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="width: 600px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">新增功能資料</h4>
            </div>
            <div class="modal-body" style="height: 250px;">
                <form method="post" id="create_category_info_frm">
                    <div class="form-group col-sm-6">
                        <label for="name">唯一識別碼：</label>
                        <input type="text" ng-model="data.company" id="company" class="form-control" required maxlength="50">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="un">公司名稱:</label>
                        <input type="text" class="form-control" ng-model="data.company_name" id="company_name" required maxlength="50">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="name">最高權限帳號:</label>
                        <input type="text" ng-model="data.name" id="name" class="form-control" required maxlength="50">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="un">最高權限密碼</label>
                        <input type="text" class="form-control" ng-model="data.pass" id="pass" required maxlength="50">
                    </div>                   
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="button button-green  pull-right"
                    data-ng-click="company_ctrl.add(data)">確定</button>
                <button type="button" class="btn btn-default" id="close-modal1" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<!--編輯-->
<div class="modal fade" id="edit_info_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="width: 600px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">編輯公司資料 || {{default_ctrl.company_info.name}} </h4>
            </div>
            <div class="modal-body"  style="height: 250px;">
                <form method="post" id="edit_info_frm" name="edit_info_frm">
                    <input ng-model="company_ctrl.company_info.id" type="hidden" />
                    <div class="form-group col-sm-6">
                        <label>唯一識別碼:</label>
                        <input type="text" ng-model="company_ctrl.company_info.company" class="form-control" required
                            maxlength="50">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>公司名稱:</label>
                        <input type="text" ng-model="company_ctrl.company_info.company_name" id="code" required
                            maxlength="50"  class="form-control">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="name">最高權限帳號:</label>
                        <input type="text" ng-model="company_ctrl.company_info.name" id="name" class="form-control" required maxlength="50">
                    </div> 
                    <div class="form-group col-sm-6">
                            <label for="name">最高權限密碼:</label>
                            <input type="text" ng-model="company_ctrl.company_info.pass" id="pass" class="form-control" required maxlength="50">
                        </div>                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning pull-right btn-lg"
                    data-ng-click="company_ctrl.update()">更新</button>
                <button type="button" class="btn btn-default btn-lg" id="close-modal2" data-dismiss="modal">關閉</button>
            </div>
        </div>

    </div>
</div>