<!--頁面標題及按鈕-->
<div class="panel panel-info" style="border-color:#23c6c800">
    <div class="panel-heading"
        style="height: 49px;width: auto;margin-top: -100px;margin-left: -20px;margin-right: -20px">
        <span>
            <font size="5">OTT2B 歡迎您</font>
        </span>
    </div>
</div>


<div class="container">        

    <div id="loginbox" class="mainbox col-md-12 col-md-offset-3 col-sm-6 col-sm-offset-3">        
        <div class="panel panel-default"  style="width: 400px;">
            <div class="panel-heading" >
                <H2 class="panel-title text-center">登入頁面</H2>
            </div>
            <div class="panel-body">
                <form name="login" ng-submit="default_ctrl.postForm()" class="form-horizontal" method="POST">                    
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <h1>歡迎您，已成功登入OTT2B </h1>
                            <!-- <button type="submit" class="btn btn-primary pull-right">
                                <i class="glyphicon glyphicon-log-in"></i> 登出 </button> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> 
    
</div>