<!--頁面標題及按鈕-->
<div class="panel panel-info" style="border-color:#23c6c800">
    <div class="panel-heading"
    style="height: 60px;width: auto;margin-top: -105px;margin-left: -30px;margin-right: -30px">
        <span>
            <font size="5">群組資料維護作業</font>
        </span>
        <div class="btn-toolbar pull-right">
            <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#create_info_modal">
                <i class="glyphicon glyphicon-plus"></i>新增群組</button>
        </div>
    </div>
</div>

<!--toolbar-->
<div class="panel-body">
    <div class="row">
        <div class="col-lg-2">
            <h3>群組名稱：</h3>
        </div>
        <div class="col-lg-8 mt-12">
            <div class="input-group col-md-12">
                <input type="text" id="searchTitle" value="" data-ng-model="searchTitle" class="form-control"
                    placeholder="Search" />
                <span class="input-group-btn">
                    <button ng-click="group_ctrl.search_data(searchTitle)" class="button button-green" type="button">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
        <!-- <div class="col-lg-2 ">
            <button type="button" class="button button-purple mt-12 pull-right" data-toggle="modal"
                data-target="#create_info_modal">
                新增群組(公司)</button>
        </div> -->
    </div>

    <!--查詢標頭-->
    <table class="table">
        <thead>
            <tr>
                <th>群組名稱</th>
                <th>群組編號</th>
                <th>授權帳號</th>
                <th>授權內容商</th>
                <th class="text-right">動作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="groups in group_ctrl.group_list" ng-click="group_ctrl.selectContent(groups, $event)"
                ng-dblclick="group_ctrl.edit_info(groups.id)" ng-class="{'selected':groups.id == selectedRow}">
                <td>{{groups.name}}</td>
                <td>{{groups.code}}</td>
                <td >
                        <div ng-repeat="account in groups.account_name">{{account}}</div>
                </td>
                <td >
                        <div ng-repeat="verder in groups.vender_name">{{verder}}</div>
                </td>
                <td class="text-right">
                    <button type="button" data-toggle="modal" class="btn btn-danger btn-lg"
                        ng-click="group_ctrl.delete(groups.id)">刪除</button>
                    <button type="button" data-toggle="modal" class="btn btn-success btn-lg"
                        ng-click="group_ctrl.edit_info(groups.id)">編輯</button>
                    <!-- <button type="button" data-toggle="modal" data-target="#view_info_modal" class="button button-green"
                                ng-click="cat_ctrl.get_category_info(categorys.id)">瀏覽</button> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--分頁-->
<div class="pull-right">
    <pagination ng-model="currentPage" total-items="total_row" max-size="maxSize" boundary-links="true">
    </pagination>
</div>

<!--新增-->
<div class="modal fade" id="create_info_modal" role="dialog" ng-init="group_ctrl.init_add_info()">
    <div class="modal-dialog modal-dialog-scrollable" role="document" style="width: 1200px;height: 600px;">
        <!-- Modal content-->
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">新增群組資料</h4>
            </div>
            <div class="modal-body" >
                <form method="post" id="create_category_info_frm">
                    <div class="form-group col-sm-12">
                        <label for="name">群組名稱:</label>
                        <input type="text" ng-model="group.name" id="name" class="form-control" required maxlength="50">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="un">群組編號：</label>
                        <input type="text" class="form-control" ng-model="group.code" id="code" required maxlength="50">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="contact">授權帳號:</label>
                        <tags-input ng-model="account_list" id="account_list" add-on-enter="true"
                            display-property="text" key-property="id" on-tag-added="on_account_added($tag)"
                            min-length="1" placeholder="按空白鍵可帶出帳號資料">
                            <auto-complete source="account_data"></auto-complete>
                        </tags-input>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="contact">授權內容商:</label>
                        <tags-input ng-model="vender_list" id="vender_list" add-on-enter="true" display-property="text"
                            key-property="id" on-tag-added="on_vender_added($tag)" min-length="1"
                            placeholder="按空白鍵可帶出內容商資料">
                            <auto-complete source="vender_data"></auto-complete>
                        </tags-input>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="button button-green  pull-right"
                    data-ng-click="group_ctrl.add(group)">確定</button>
                <button type="button" class="btn btn-default" id="close-modal1" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<!--編輯-->
<div class="modal fade" id="edit_info_modal" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable" role="document" style="width: 1200px;height: 600px;">
        <!-- Modal content-->
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">編輯群組資料 || {{group_ctrl.group_info.name}} </h4>
            </div>
            <div class="modal-body"  style="height: 350px;">
                <form method="post" id="edit_info_frm" name="edit_info_frm">
                    <input ng-model="group_ctrl.group_info.id" type="hidden" />
                    <div class="form-group col-sm-12">
                        <label>群組名稱:</label>
                        <input type="text" ng-model="group_ctrl.group_info.name" class="form-control" required
                            maxlength="50">
                    </div>
                    <div class="form-group col-sm-12">
                        <label>群組編號:</label>
                        <input type="text" class="form-control" ng-model="group_ctrl.group_info.code" required
                            maxlength="50">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="contact">授權帳號:</label>
                        <tags-input ng-model="edit_accounts" id="edit_accounts" add-on-enter="true"
                            display-property="text" key-property="id" on-tag-added="on_account_added($tag)" min-length="0"
                            placeholder="按空白鍵可帶出帳號資料">
                            <auto-complete source="account_data"></auto-complete>
                        </tags-input>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="contact">授權內容商:</label>
                        <tags-input ng-model="edit_venders" id="edit_venders" add-on-enter="true"
                            display-property="text" key-property="id" on-tag-added="on_vender_added($tag)"
                            min-length="0" placeholder="按空白鍵可帶出功能資料">
                            <auto-complete source="vender_data"></auto-complete>
                        </tags-input>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning pull-right btn-lg"
                    data-ng-click="group_ctrl.update()">更新</button>
                <button type="button" class="btn btn-default btn-lg" id="close-modal2" data-dismiss="modal">關閉</button>
            </div>
        </div>

    </div>
</div>