<div class="container" onload="createCode()">
        <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
           <div class="row">
              
           </div>
           <div class="panel panel-default" >
               <div data-ng-show="disableLogin" class="text-center"><font color="red">登入失敗三次以上，已無法登入，請洽管理員.</font></div>
              <div class="panel-heading">
                 <div class="panel-title text-center">請輸入帳號/密碼登入</div>
              </div>
              <div class="panel-body" >
                 <form name="login" ng-submit="login_ctrl.postForm(inputData)" class="form-horizontal" method="POST">
                     <div class="input-group">
                           <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                           <select name="company_id" id="company_id" class="form-control"
                              data-ng-model="inputData.company_id"
                            data-ng-options="d.id as d.company_name for d in company_data"></select>
                        </div>
                    <div class="input-group">
                       <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                       <input type="text" id="inputUsername" class="form-control" required autofocus
                        ng-model="inputData.username"/>
                    </div>
                    <div class="input-group">
                       <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                       <input type="password" id="inputPassword" class="form-control" required ng-model="inputData.password"/>
                    </div>
                    <div class="alert alert-danger" ng-show="errorMsg">
                       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                       ×</button>
                       <span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;{{errorMsg}}
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-random"></i></span>
                        <input type="text" id="input"  class="form-control"/>
                        <input type="button" id="checkCode" class="code " onclick="createCode()" />
                        <a href="#" onclick="createCode()">重新產生驗証碼</a> (圖形驗證碼不分大小寫)
                     </div>                     
                    <div class="form-group">
                       <div class="col-sm-12 controls">                           
                          <button type="submit" class="btn btn-primary pull-right btn-lg" ng-disabled=disableLogin>                          
                           <i class="glyphicon glyphicon-log-in"></i> 登入 </button>
                       </div>
                    </div>
                 </form>
              </div>
           </div>
        </div>
     </div>


      <!-- Modal -->
      <div class="modal fade" id="showMessage"" role="dialog">
            <div class="modal-dialog">
            
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header text-center">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h1 class="modal-title">無法登入</h1>
               </div>
               <div class="modal-body">
                  <p>登入失敗三次以上，已無法登入，請洽管理員.</p>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               </div>
            </div>
            
            </div>
         </div>