<!--頁面標題及按鈕-->
<div class="panel panel-info" style="border-color:#23c6c800">
    <div class="panel-heading"
    style="height: 60px;width: auto;margin-top: -105px;margin-left: -30px;margin-right: -30px">
        <span>
            <font size="5">角色設定：依據角色，設定帳號及功能清單關連</font>
        </span>
        <div class="btn-toolbar pull-right">
            <button type="button" class="btn btn-success btn-lg" data-toggle="modal"
                data-target="#create_info_modal">
                <i class="glyphicon glyphicon-plus"></i>新增角色</button>
        </div>
    </div>
</div>

<!--toolbar-->
<div class="panel-body">
    <div class="row">
        <div class="col-lg-2">
            <h3>角色名稱：</h3>
        </div>
        <div class="col-lg-8 mt-12">
            <div class="input-group col-md-12">
                <input type="text" id="searchTitle" value="" data-ng-model="searchTitle" class="form-control"
                    placeholder="Search" />
                <span class="input-group-btn">
                    <button ng-click="role_ctrl.search_data(searchTitle)" class="button button-green" type="button">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
        <!-- <div class="col-lg-2 ">
            <button type="button" class="button button-purple mt-12 pull-right" data-toggle="modal"
                data-target="#create_info_modal">
                新增角色</button>
        </div> -->
    </div>

    <!--查詢標頭-->
    <table class="table">
        <thead>
            <tr>
                <th>角色名稱</th>
                <th>角色編號</th>
                <th>授權帳號</th>
                <th>授權功能</th>
                <th class="text-right">動作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="roles in role_ctrl.role_list"
                ng-click="role_ctrl.selectContent(roles, $event)"
                ng-dblclick="role_ctrl.init_edit_info(roles.id)"
                ng-class="{'selected':roles.id == selectedRow}">
                <td>{{roles.name}}</td>
                <td>{{roles.code}}</td>                                
                <td >
                        <div ng-repeat="account in roles.account_name">{{account}}</div>
                </td>
                <td >
                        <div ng-repeat="function in roles.function_name">{{function}}</div>
                </td>
                <td class="text-right">
                    <button type="button" data-toggle="modal" class="btn btn-danger btn-lg"
                        ng-click="role_ctrl.delete(roles.id)">刪除</button>
                    <button type="button" data-toggle="modal" class="btn btn-success btn-lg"
                        ng-click="role_ctrl.init_edit_info(roles.id)">編輯</button>
                    <!-- <button type="button" data-toggle="modal" data-target="#view_info_modal" class="button button-green"
                                ng-click="cat_ctrl.get_category_info(categorys.id)">瀏覽</button> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--分頁-->
<div class="pull-right">
    <pagination ng-model="currentPage" total-items="total_row" max-size="maxSize" boundary-links="true">
    </pagination>
</div>

<!--新增-->
<div class="modal fade" id="create_info_modal" role="dialog"  ng-init="role_ctrl.init_add_info()">
    <div class="modal-dialog modal-dialog-scrollable" role="document" style="width: 1200px;height: 650px;">
        <!-- Modal content-->
        <div class="modal-content" >
            <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">新增角色資料</h4>
            </div>
            <div class="modal-body"  style="height: 350px;">
                <form method="post" id="create_category_info_frm">
                    <div class="form-group col-sm-12">
                        <label for="name">角色名稱:</label>
                        <input type="text" ng-model="role.name" id="name" class="form-control" required maxlength="50">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="un">角色編號：</label>
                        <input type="text" class="form-control" ng-model="role.code" id="code" required maxlength="50">
                    </div>
                    <div class="form-group col-sm-12">
                            <label for="contact">授權帳號:</label>                            
                            <tags-input ng-model="accounts" id ="accounts"  add-on-enter="true" display-property="text"
                            key-property="id"  on-tag-added="onTagAdded($tag)" min-length="1" placeholder="按空白鍵可帶出帳號資料">
                                <auto-complete source="accountData"></auto-complete>
                            </tags-input>
                    </div>
                    <div class="form-group col-sm-12">
                            <label for="contact">授權功能:</label>                            
                            <tags-input ng-model="functionlist" id ="functionlist"  add-on-enter="true" display-property="text"
                            key-property="id"  on-tag-added="onFunctionAdded($tag)" min-length="1" placeholder="按空白鍵可帶出功能資料">
                                <auto-complete source="functionData"></auto-complete>
                            </tags-input>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="button button-green  pull-right"
                    data-ng-click="role_ctrl.add(role)">Submit</button>
                <button type="button" class="btn btn-default" id="close-modal1" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<!--編輯-->
<div class="modal fade" id="edit_info_modal" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable" role="document" style="width: 1200px;height: 650px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">編輯角色資料 || {{role_ctrl.role_info.name}} </h4>
            </div>
            <div class="modal-body" style="height: 350px;">
                <form method="post" id="edit_info_frm" name="edit_info_frm">
                    <input ng-model="role_ctrl.role_info.id" type="hidden" />
                    <div class="form-group  col-sm-12">
                        <label>角色名稱:</label>
                        <input type="text" ng-model="role_ctrl.role_info.name" class="form-control" required
                            maxlength="50">
                    </div>
                    <div class="form-group  col-sm-12">
                        <label>角色編號:</label>
                        <input type="text" class="form-control" ng-model="role_ctrl.role_info.code" required
                            maxlength="50">
                    </div>  
                    <div class="form-group col-sm-12">
                            <label for="contact">授權帳號:</label>                            
                            <tags-input ng-model="edit_accounts" id ="edit_accounts"  add-on-enter="true" display-property="text"
                            key-property="id"  on-tag-added="onTagAdded($tag)" min-length="0"  placeholder="按空白鍵可帶出帳號資料">
                                <auto-complete source="accountData"></auto-complete>
                            </tags-input>
                    </div> 
                    <div class="form-group col-sm-12">
                            <label for="contact">授權功能:</label>                            
                            <tags-input ng-model="edit_functions" id ="edit_functions"  add-on-enter="true" display-property="text"
                            key-property="id"  on-tag-added="onFunctionAdded($tag)" min-length="0" placeholder="按空白鍵可帶出功能資料">
                                <auto-complete source="functionData"></auto-complete>
                            </tags-input>
                    </div>                   
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning pull-right btn-lg"
                    data-ng-click="role_ctrl.update()">更新</button>
                <button type="button" class="btn btn-default btn-lg" id="close-modal2" data-dismiss="modal">關閉</button>
            </div>
        </div>

    </div>
</div>