<!--頁面標題及按鈕-->
<div class="panel panel-info" style="border-color:#23c6c800">
    <div class="panel-heading"
    style="height: 60px;width: auto;margin-top: -105px;margin-left: -30px;margin-right: -30px">
        <span>
            <font size="5">內容商維護作業</font>
        </span>
        <div class="btn-toolbar pull-right">
            <button type="button" class="btn btn-success btn-lg" pull-right" data-toggle="modal"
                data-target="#create_info_modal">
                <i class="glyphicon glyphicon-plus"></i> 新增內容商
            </button>
        </div>
    </div>
</div>
<!--toolbar-->
<div class="panel-body">
    <div class="row">
        <div class="col-lg-2">
            <h3>內容商資料</h3>
        </div>
        <div class="col-lg-8 mt-12">
            <div class="input-group col-md-12">
                <input type="text" id="searchTitle" value="" data-ng-model="searchTitle" class="form-control"
                    placeholder="Search" />
                <span class="input-group-btn">
                    <button ng-click="vender_ctrl.search_data(searchTitle)" class="button button-green" type="button">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
        <!-- <div class="col-lg-2 ">
            <button type="button" class="button button-purple mt-12 pull-right" data-toggle="modal"
                data-target="#create_info_modal">
                新增內容商</button>
        </div> -->
    </div>

    <!--查詢標頭-->
    <table class="table">
        <thead>
            <tr>
                <th>內容商編號</th>
                <th>內容商名稱</th>
                <th>統一編號</th>
                <th>ftp帳號</th>
                <th>ftp密碼</th>
                <th>需審核</th>               
                <th class="text-right">動作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="venders in vender_ctrl.vender_list" ng-click="vender_ctrl.selectContent(venders, $event)"
                ng-dblclick="vender_ctrl.edit_info(venders.id)" ng-class="{'selected':venders.id == selectedRow}">
                <td>{{venders.id}}</td>
                <td>{{venders.name}}</td>
                <td>{{venders.un}}</td>
                <td>{{venders.ftp_user}}</td>
                <td>{{venders.ftp_pass}}</td>
                <td>{{venders.pass_audit==0?"是":"否"}}</td>                
                <td class="text-right">
                    <!-- <button type="button" data-toggle="modal" class="button button-red"
                        ng-click="vender_ctrl.delete(venders.id)">刪除</button> -->
                    <button type="button" data-toggle="modal" class="btn btn-success btn-lg"
                        ng-click="vender_ctrl.edit_info(venders.id)">編輯</button>
                    <!-- <button type="button" data-toggle="modal" data-target="#view_info_modal" class="button button-green"
                            ng-click="cat_ctrl.get_category_info(categorys.id)">瀏覽</button> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--分頁-->
<div class="pull-right">
    <pagination ng-model="currentPage" total-items="total_row" max-size="maxSize" boundary-links="true">
    </pagination>
</div>

<!--新增-->
<div class="modal fade" id="create_info_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="width: 600px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">新增內容商資料</h4>
            </div>
            <div class="modal-body">
                <form method="post" id="create_category_info_frm">
                    <div class="form-group">
                        <label for="name">內容商名稱:</label>
                        <input type="text" ng-model="vender.name" id="name" class="form-control" required
                            maxlength="50">
                    </div>
                    <div class="form-group">
                        <label for="un">統一編號：</label>
                        <input type="text" class="form-control" ng-model="vender.un" id="un" required maxlength="50">
                    </div>
                    <div class="form-group">
                        <label for="name">ftp帳號:</label>
                        <input type="text" ng-model="vender.ftp_user" id="ftp_user" class="form-control" required
                            maxlength="50">
                    </div>
                    <div class="form-group">
                        <label for="un">ftp密碼：</label>
                        <input type="text" class="form-control" ng-model="vender.ftp_pass" id="ftp_pass" required
                            maxlength="50">
                    </div>
                    <div class="form-group">
                        <label for="un">需審核：</label>
                        <select name="pass_audit" id="pass_audit" class="form-control"
                            data-ng-model="vender.pass_audit">
                            <option value="0" selected="selected">是</option>
                            <option value="1">否</option>
                        </select>
                    </div>
                     
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="button button-green  pull-right"
                    data-ng-click="vender_ctrl.add_data(vender)">確定</button>
                <button type="button" class="btn btn-default" id="close-modal1" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<!--詳細結果-->
<!-- <div class="modal fade" id="view_info_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 600px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">內容商資料</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label>內容商名稱:</label>
                    {{cat_ctrl.view_category_info.name}}

                </div>
                <div class="form-group">
                    <label>統一編號:</label>
                    {{cat_ctrl.view_category_info.company}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div> -->

<!--編輯-->
<div class="modal fade" id="edit_info_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="width: 600px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">編輯內容商資料 || {{vender_ctrl.vender_info.name}} </h4>
            </div>
            <div class="modal-body">
                <form method="post" id="edit_info_frm" name="edit_info_frm">
                    <input ng-model="vender_ctrl.vender_info.id" type="hidden" />
                    <div class="form-group">
                        <label>內容商名稱:</label>
                        <input type="text" ng-model="vender_ctrl.vender_info.name" class="form-control" required
                            maxlength="50">
                    </div>
                    <div class="form-group">
                        <label>統一編號:</label>
                        <input type="text" class="form-control" ng-model="vender_ctrl.vender_info.un" required
                            maxlength="50">
                    </div>
                    <div class="form-group">
                        <label for="name">ftp帳號:</label>
                        <input type="text" ng-model="vender_ctrl.vender_info.ftp_user" ng-disabled="true" id="ftp_user"
                            class="form-control" required maxlength="50">
                    </div>
                    <div class="form-group">
                        <label for="un">ftp密碼：</label>
                        <input type="text" class="form-control" ng-model="vender_ctrl.vender_info.ftp_pass"
                            ng-disabled="true" id="ftp_pass" required maxlength="50">
                    </div>
                    <div class="form-group">
                        <label for="un">需審核：</label>
                        <select name="pass_audit" id="pass_audit" class="form-control"
                            data-ng-model="vender_ctrl.vender_info.pass_audit">
                            <option value="0" selected>是</option>
                            <option value="1">否</option>
                        </select>
                    </div>                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="button button-green  pull-right"
                    data-ng-click="vender_ctrl.update()">更新</button>
                <button type="button" class="btn btn-default" id="close-modal2" data-dismiss="modal">關閉</button>
            </div>
        </div>

    </div>
</div>