<div>
    <!--頁面標題及按鈕-->
    <div class="panel panel-info" style="border-color:#23c6c800">
        <div class="panel-heading"
        style="height: 60px;width: auto;margin-top: -105px;margin-left: -30px;margin-right: -30px">
            <span>
                <font size="5">頻道內容維護作業</font>
            </span>
            <div class="btn-toolbar pull-right">
                <button type="button" class="btn btn-success btn-lg" data-toggle="modal"
                    data-target="#create_content_info_modal">
                    <i class="glyphicon glyphicon-plus"></i>新增頻道</button>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row ">
            <div class="col-lg-2">
                <h3>頻道內容設定</h3>
            </div>
            <div class="col-lg-8 mt-12">
                <div class="input-group col-md-12">
                    <input type="text" id="searchTitle" name="searchTitle" value="" ng-model="searchTitle" ng-init=""
                        class="form-control" value="" />
                    <span class="input-group-btn">
                        <button ng-click="account_ctrl.search_data(searchTitle)" class="button button-green"
                            type="button">
                            <span class=" glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <p class="{{live_content_ctrl.alert_class}}">{{live_content_ctrl.msg}}</p>
        <table class="table">
            <thead>
                <tr>
                    <th>標題</th>
                    <th>開始時間</th>
                    <th>結束時間</th>
                    <th>device</th>
                    <th>format</th>
                    <th>quality</th>
                    <th>drm</th>
                    <th>url</th>
                    <th class="text-right">動作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lives in live_content_ctrl.live_list"
                    ng-click="live_content_ctrl.selectContent(lives, $event)"
                    ng-dblclick="live_content_ctrl.edit_content_info(lives.lu_id)"
                    ng-class="{'selected':lives.edit_content_info == selectedRow}">
                    <td>{{lives.title}}</td>
                    <td>{{lives.start_time}}</td>
                    <td>{{lives.end_time}}</td>
                    <td>{{lives.device}}</td>
                    <td>{{lives.format}}</td>
                    <td>{{lives.quality}}</td>
                    <td>{{lives.drm}}</td>
                    <td>{{lives.url}}</td>
                    <td class="text-right">
                        <button type="button" data-toggle="modal" class="btn btn-danger btn-lg"
                            ng-click="live_content_ctrl.delete_content_info(lives.lu_id)">刪除</button>
                        <button type="button" data-toggle="modal" class="btn btn-success btn-lg"
                            ng-click="live_content_ctrl.edit_content_info(lives.lu_id)">編輯</button>
                        <!-- <button type="button" data-toggle="modal" data-target="#view_content_info_modal"
                        class="button button-green" ng-click="account_ctrl.get_content_info(lives.id)">瀏覽</button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--分頁-->
    <div class="pull-right">
        <pagination ng-model="currentPage" total-items="total_row" max-size="maxSize" boundary-links="true">
        </pagination>
    </div>


    <!--編輯-->
    <div class="modal fade" id="edit_content_info_modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 1000px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">頻道內容編輯 || {{live_content_ctrl.content_info.title}} </h4>
                </div>
                <div class="modal-body" style="height: 250px;">
                    <div class="form-group col-sm-4">
                        <label for="contact">標題:</label>
                        <input type="text" class="form-control" ng-model="live_content_ctrl.content_info.title"
                            id="title" maxlength="50">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="contact">開始時間:</label>
                        <p class="input-group">
                            <input type="hidden" ng-model="live_content_ctrl.content_info.start_time" />
                            <input type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm:ss"
                                id="edit_start_time" name="edit_start_time"
                                ng-model="live_content_ctrl.content_info.start_time"
                                is-open="live_content_ctrl.date.showFlag1" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                    ng-click="live_content_ctrl.date.showFlag1 = true"><i
                                        class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                        <div ng-show="edit_content_info.edit_start_time.$invalid-pattern">
                            <div style="color:red">輸入格式錯誤</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="contact">結束時間:</label>
                        <p class="input-group">
                            <input type="hidden" ng-model="live_content_ctrl.content_info.end_time" />
                            <input type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm:ss"
                                id="edit_end_time" name="edit_end_time"
                                ng-model="live_content_ctrl.content_info.end_time"
                                is-open="live_content_ctrl.date.showFlag2">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                    ng-click="live_content_ctrl.date.showFlag2 = true"><i
                                        class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                        <div ng-show="edit_content_info.edit_end_time.$invalid-pattern">
                            <div style="color:red">輸入格式錯誤</div>
                        </div>
                    </div>

                    <!--video 五個欄位存一筆進live_url-->
                    <div class="form-group col-sm-2">
                        <label for="contact">format:</label>
                        <input type="text" class="form-control" ng-model="live_content_ctrl.content_info.format"
                            id="format" maxlength="50">
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="contact">device:</label>
                        <input type="text" class="form-control" ng-model="live_content_ctrl.content_info.device"
                            id="device" maxlength="50">
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="contact">quality:</label>
                        <input type="text" class="form-control" ng-model="live_content_ctrl.content_info.quality"
                            id="quality" maxlength="50">
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="contact">drm:</label>
                        <input type="text" class="form-control" ng-model="live_content_ctrl.content_info.drm"
                            id="drm" maxlength="50">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="contact">url:</label>
                        <input type="text" class="form-control" ng-model="live_content_ctrl.content_info.url"
                            id="url" maxlength="50">
                    </div>                    
                </div>
                
           
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning pull-right btn-lg"
                        data-ng-click="live_content_ctrl.updateContent()">更新</button>
                    <button type="button" class="btn btn-default btn-lg" id="close-modal2" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
        
    </div>

    <!--新增-->
    <div class="modal fade" id="create_content_info_modal" role="dialog">
        <div class="modal-dialog">
            <form method="post" id="create_content_info_frm" name="create_content_info_frm">
                <!-- Modal content-->
                <div class="modal-content" style="width: 900px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">新增頻道資訊</h4>
                    </div>
                    <div class="modal-body" style="height: 300px;">
                        <div class="form-group col-sm-4">
                            <label for="contact">標題:</label>
                            <input type="text" class="form-control" ng-model="lives.title" id="title" value=""
                                maxlength="50" ng-required="true">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="contact">開始時間:</label>
                            <p class="input-group">
                                <input type="hidden" ng-model="lives.start_time" />
                                <input type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm:ss"
                                    id="insert_start_time" name="insert_start_time"
                                    ng-model="live_content_ctrl.content_info.start_time"
                                    is-open="live_content_ctrl.date.showFlag1" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                        ng-click="live_content_ctrl.date.showFlag1 = true"><i
                                            class="fa fa-calendar"></i></button>
                                </span>
                            </p>
                            <div ng-show="edit_content_info.insert_start_time.$invalid-pattern">
                                <div style="color:red">輸入格式錯誤</div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="contact">結束時間:</label>
                            <p class="input-group">
                                <input type="hidden" ng-model="lives.end_time" />
                                <input type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm:ss"
                                    id="insert_end_time" name="insert_end_time"
                                    ng-model="live_content_ctrl.content_info.end_time"
                                    is-open="live_content_ctrl.date.showFlag2">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                        ng-click="live_content_ctrl.date.showFlag2 = true"><i
                                            class="fa fa-calendar"></i></button>
                                </span>
                            </p>
                            <div ng-show="edit_content_info.insert_end_time.$invalid-pattern">
                                <div style="color:red">輸入格式錯誤</div>
                            </div>
                        </div>
                        <!--播收url->五個欄位存一筆進live_url-->
                       
                        <div class="form-group col-sm-2">
                            <label for="contact"> 影音format:</label>
                            <input type="text" class="form-control" ng-model="lives.format"
                                id="format" maxlength="50">
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="contact">影音device:</label>
                            <input type="text" class="form-control" ng-model="lives.device"
                                id="device" maxlength="50">
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="contact">影音quality:</label>
                            <input type="text" class="form-control" ng-model="lives.quality"
                                id="quality" maxlength="50">
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="contact">影音drm:</label>
                            <input type="text" class="form-control" ng-model="lives.drm"
                                id="drm" maxlength="50">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="contact">影音url:</label>
                            <input type="text" class="form-control" ng-model="lives.url"
                                id="url" maxlength="50">
                        </div>
                    

                        <!--劇照url->五個欄位存一筆進live_url-->
                        <div class="form-group col-sm-2">
                            <label for="contact">劇照format:</label>
                            <input type="text" class="form-control" ng-model="lives.format2"
                                id="format2" maxlength="50">
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="contact">劇照device:</label>
                            <input type="text" class="form-control" ng-model="lives.device2"
                                id="device2" maxlength="50">
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="contact">劇照quality:</label>
                            <input type="text" class="form-control" ng-model="lives.quality2"
                                id="quality2" maxlength="50">
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="contact">劇照drm:</label>
                            <input type="text" class="form-control" ng-model="lives.drm2"
                                id="drm2" maxlength="50">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="contact">劇照url:</label>
                            <input type="text" class="form-control" ng-model="lives.url2"
                                id="url2" maxlength="50">
                        </div>
                    </div>
                
                    <div class="modal-footer">
                        <button type="button" class="button button-green  pull-right"
                            data-ng-click="live_content_ctrl.add(lives)">新增</button>
                        <button type="button" class="btn btn-default" id="close-modal" data-dismiss="modal">關閉</button>
                    </div>
            </form>
        </div>
    </div>


</div>